@page "/admin/games/collections/add-collection"
@using Domain.Games

<h3>Добавь подборку</h3>

<AuthorizeView Policy="Admin">
    <Authorized>
        <EditForm OnValidSubmit="@AddGameCollectionAsync" Model="this" Context="myContext">
            <DataAnnotationsValidator />
            <div>
                <InputText @bind-Value="@CollectionName" />
            </div>
            <div>
                <InputTextArea @bind-Value="@Description" />
            </div>
            <div>
                <label>
                    Enter image:
                    <InputFile OnChange="FileUploaded" />
                </label>
                <div class="image-container">
                    <img class="post-image" src="@ImageSource" alt="Изображение на странице подборки для загрузки подборки" title="Игра @CollectionName" itemprop="image">
                </div>
            </div>
            <div>
                <input type="submit" value="Add" />
            </div>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a> админом, чтобы добавить подборку
    </NotAuthorized>
</AuthorizeView>