@page "/admin/games/collections/add-collection"
@using Domain.Games

<h3>Добавь подборку</h3>

@if (GamesToSelectFrom is null)
{
    <p>Loading...</p>
}

<AuthorizeView Policy="Admin">
    <Authorized>
        <EditForm OnValidSubmit="@AddGameCollectionAsync" Model="this" Context="myContext">
            <DataAnnotationsValidator />
            <div>
                <InputText @bind-Value="@CollectionName" />
            </div>
            <div>
                <InputTextArea @bind-Value="@Description" />
            </div>
            <div>
                <select @onchange="SelectGames" multiple>
                    <option value="-1" selected>None</option>
                    @foreach (Game game in GamesToSelectFrom)
                    {
                        <option value="@game.Id.ToString()">@game.Name</option>
                    }
                </select>
            </div>
            <div>
                <input type="submit" value="Add" />
            </div>
        </EditForm>
    </Authorized>
    <NotAuthorized>
        <a href="/auth/login">Авторизируйся</a> или <a href="/auth/register">Зарегистрируйся</a> админом, чтобы добавить подборку
    </NotAuthorized>
</AuthorizeView>