@page "/admin/games/collections/{Id:long}/manage-collection"
@using Domain.Games
@using Domain.Games.Collections

@if (GameCollection is null)
{
    <p>Loading...</p>
}
else
{
    <p>@GameCollection.Name</p>

    <AuthorizeView Policy="Admin">
        <Authorized>
            <a href="/admin/games/collections/@Id/add-games">Добавить игру в подборку</a>
        </Authorized>
    </AuthorizeView>

    @foreach (GamesCollectionItem gamesCollectionItem in GameCollection.GamesCollectionItems)
    {
        <h3>@gamesCollectionItem.Game.Name</h3>

        <p>
            @gamesCollectionItem.Game.Description
        </p>
        <div class="list postid">
            <div class="post">
                <div class="spec-img">
                    <a href="@gamesCollectionItem.Game.Image" title="@gamesCollectionItem.Game.Name" class="thumb"><img class="post-image" src="@gamesCollectionItem.Game.Image" alt="@gamesCollectionItem.Game.Name"></a>
                    <div class="small-score mark-10">9.6</div>
                </div>
                <a class="name" href="/games/Details/@gamesCollectionItem.Game.Id">@gamesCollectionItem.Game.Name</a>

                <div class="p-meta">Разработчик: @string.Join(", ", gamesCollectionItem.Game.Developers.Select(d => d.Name))</div>
                <div class="p-meta">Издатель:  @string.Join(", ", gamesCollectionItem.Game.Publishers.Select(d => d.Name))</div>
                <div class="p-meta">
                    Дата выхода:  @gamesCollectionItem.Game.ReleaseDate.Value.ToString("dd MMMM yyyy")
                </div>
            </div>
        </div>
        <AuthorizeView Policy="Admin">
            <Authorized>
                <button type="submit" class="btn btn-danger" @onclick="@(() => DeleteGameFromCollectionAsync(gamesCollectionItem.Id))">
                    Delete
                </button>
            </Authorized>
        </AuthorizeView>
    }
}
