@page "/admin/games/collections/manage-collection/{Id:long}"
@using Domain.Games

@if (GameCollection is null)
{
    <p>Loading...</p>
}
else
{
    <p>@GameCollection.Name</p>

    <AuthorizeView Policy="Admin">
        <Authorized>
            <button type="submit" @onclick="@(() => DeleteGameFromCollectionAsync(GameCollection.Id))">
                Delete
            </button>
        </Authorized>
    </AuthorizeView>

    @foreach (Game game in GameCollection.Games)
    {
        <h3>@game.Name</h3>
        <p>
            <img class="alignnone size-full wp-image-15473" src="https://metarankings.ru/images/uploads/2021/10/the-witcher-3-wild-hunt.jpg" alt="@game.Name" width="1000" height="488">
        </p>
        <p>
            @game.Description
        </p>
        <div class="list postid">
            <div class="post">
                <div class="spec-img">
                    <a href="@game.Image" title="@game.Name" class="thumb"><img class="post-image" src="@game.Image" alt="@game.Name"></a>
                    <div class="small-score mark-10">9.6</div>
                </div>
                <a class="name" href="/games/Details/@game.Id">@game.Name</a>

                <div class="p-meta">Разработчик: @string.Join(", ", game.Developers.Select(d => d.Name))</div>
                <div class="p-meta">Издатель:  @string.Join(", ", game.Publishers.Select(d => d.Name))</div>
                <div class="p-meta">
                    Дата выхода:  @game.ReleaseDate.Value.ToString("dd MMMM yyyy")
                </div>
            </div>
        </div>
        <AuthorizeView Policy="Admin">
            <Authorized>
                <button type="submit" @onclick="@(() => DeleteGameFromCollectionAsync(game.Id))">
                    Delete
                </button>
            </Authorized>
        </AuthorizeView>
    }
}
