@using BlazorClient.Components.PagesComponents.GamesList
@using System.Globalization

<div class="featured-game">
    <GameDevelopers Developers="@Developers" />
    <GamePublisher Publisher="@Publisher" />
    <GamePlatforms Platforms="@Platforms" />
    <GenresComponent Genres="@Genres" />

    <p><span class="label">Локализация:</span> <span itemprop="inLanguage"><a href="@Localization.Href">@Localization.Name</a></span></p>

    @if (ReleaseDate.HasValue)
    {
        <p>
            <span class="label">Дата выхода:</span>
            <span>@ReleaseDate.Value.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("ru-RU"))</span>
        </p>
    }
</div>