@page "/genres/{GenreId:long}"

@using Domain

@if (Genre is null)
{
    <p>Loading...</p>
}
else
{
    <div id="loop" class="list clear">
        @foreach (var game in Genre.Games)
        {
            <BlazorClient.Components.PagesComponents.GamesList.GamePost Description="@game.Description"
                                                                        Developers="@game.Developers"
                                                                        Id="@game.Id"
                                                                        Genres="@game.Genres"
                                                                        Image="@game.Image"
                                                                        Localization="@game.Localization"
                                                                        Name="@game.Name"
                                                                        Platforms="@game.Platforms"
                                                                        Publisher="@game.Publisher"
                                                                        ReleaseDate="@game.ReleaseDate"
                                                                        Score="0"
                                                                        ScoresCount="0" />
        }
    </div>
}
