@page "/localizations/{LocalizationId:long}"

@using Domain

@if (Localization is null)
{
    <p>Loading...</p>
}
else
{
    <div id="filter">
        <div class="filter-nav">
            <div class="filter-name">Платформа</div>
            <a class="selected" href="/localizations/@LocalizationId">Все</a>
            <a href="/localizations/@LocalizationId?PlatformId=6">PS5</a>
            <a href="/localizations/@LocalizationId?PlatformId=7">Xbox Series X</a>
            <a href="/localizations/@LocalizationId?PlatformId=1">PS4</a>
            <a href="/localizations/@LocalizationId?PlatformId=5">Xbox One</a>
            <a href="/localizations/@LocalizationId?PlatformId=4">Switch</a>
            <a href="/localizations/@LocalizationId?PlatformId=2">PS3</a>
            <a href="/localizations/@LocalizationId?PlatformId=8">Xbox 360</a>
            <a href="/localizations/@LocalizationId?PlatformId=14">PS Vita</a>
            
        </div>
        <h2>На русском</h2>
    </div>
    <div id="loop" class="list clear">
        @foreach (var game in Localization.Games)
        {
            <div class="post clear">
                <a href="/games/details/@game.Id" title="Игра «@game.Name»" class="thumb"><img class="post-image" src="@($"{HttpClient.BaseAddress}api/games/images/uploads/{game.ReleaseDate.Value.Year}/{game.ReleaseDate.Value.Month}/{game.Image}")" alt="@game.Name"></a>
                <h2><a class="name" href="/games/details/@game.Id">@game.Name</a></h2>
                <div class="post-meta"><p><span style="text-decoration: underline;">@Localization.Name</span></p></div>
                <div class="post-meta"><p>@string.Join(", ", game.Platforms.Select(a => a.Name))</p></div>
                <div class="post-meta"><p>@string.Join(", ", game.Developers.Select(a => a.Name))</p></div>
                <div class="post-meta"><p>@game.Publisher.Name</p></div>
                <div class="post-content">@game.Description</div>
                <div class="trailer" data-video="/games/details/@game.Id/#content-trailer"></div>
            </div>
        }
    </div>
}