@page "/add-game"
@using Blazored.LocalStorage
@using Domain
@using Domain.ViewModels
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorageService;

<EditForm Model="@addGameViewModel" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="row">
        <label class="col-sm-4" for="Name">Name</label>
        <InputText multiline class="col-sm-8" id="Name" @bind-Value="addGameViewModel.Name" />
    </div>

    <div class="row">
        <label class="col-sm-4" for="Description">Description</label>
        <InputTextArea multiline class="col-sm-8 form-control" id="Description" @bind-Value="addGameViewModel.Description" />
    </div>

    <div class="row">
        <label class="col-sm-4" for="ImageSource">Image</label>
        <InputFile class="col-sm-8" id="ImageSource" OnChange="HandleFileSelected" />
    </div>

    <div class="row">
        <label class="col-sm-4" for="Score">Score</label>
        <InputNumber class="col-sm-8" id="Score" @bind-Value="addGameViewModel.Score" />
    </div>

    @if (gamesLocalizations is not null && gamesLocalizations.Any())
    {
        <div class="row">
            <label class="com-sm-4">Localization</label>
            <select class="col-sm-3 form-select-sm" @bind=addGameViewModel.LocalizationId>
                <option selected>Select localization</option>
                @foreach (GameLocalization gameLocalization in gamesLocalizations)
                {
                    <option value="@gameLocalization.Id">@gameLocalization.Title</option>
                }
            </select>
        </div>
    }

    <div class="row">
        <label class="col-sm-4" for="ReleaseDate">Release Date</label>
        <InputDate class="col-sm-8" id="ReleaseDate" @bind-Value="addGameViewModel.ReleaseDate" />
    </div>

    @if (gamesGenres is not null && gamesGenres.Any())
    {
        <div class="row">
            <label class="com-sm-4">Genre(s)</label>
            <select class="col-sm-3 form-select-sm" multiple>
                <option selected>Select genre(s)</option>
                @foreach (GameGenre gameGenre in gamesGenres)
                {
                    <option value="@gameGenre.Id" @onclick="@(()=>SelectGenreForGame(gameGenre))">@gameGenre.Name</option>
                }
            </select>
        </div>
    }

    @if (gamesDevelopers is not null && gamesDevelopers.Any())
    {
        <div class="row">
            <label class="com-sm-4">Developer(s)</label>
            <select class="col-sm-3 form-select-sm" multiple>
                <option selected>Select developer(s)</option>
                @foreach (GameDeveloper gameDeveloper in gamesDevelopers)
                {
                    <option value="@gameDeveloper.Id" @onclick="@(()=>SelectDeveloperForGame(gameDeveloper))">@gameDeveloper.Name</option>
                }
            </select>
        </div>
    }

    @if (gamesPublishers is not null && gamesPublishers.Any())
    {
        <div class="row">
            <label class="com-sm-4">Publisher(s)</label>
            <select class="col-sm-3 form-select-sm" multiple>
                <option selected>Select publisher(s)</option>
                @foreach (GamePublisher publisher in gamesPublishers)
                {
                    <option value="@publisher.Id" @onclick="@(()=>SelectPublisherForGame(publisher))">@publisher.Name</option>
                }
            </select>
        </div>
    }

    @if (gamesPlatforms is not null && gamesPlatforms.Any())
    {
        <div class="row">
            <label class="com-sm-4">Platforms(s)</label>
            <select class="col-sm-3 form-select-sm" multiple>
                <option selected>Select platform(s)</option>
                @foreach (GamePlatform gamePlatform in gamesPlatforms)
                {
                    <option value="@gamePlatform.Id" @onclick="@(()=>SelectPlatformForGame(gamePlatform))">@gamePlatform.Name</option>
                }
            </select>
        </div>
    }

    <button type="submit">Add Game</button>
</EditForm>

@code {
    private AddGameViewModel addGameViewModel = new AddGameViewModel();
    private IBrowserFile selectedImage;
    private IEnumerable<GameGenre> gamesGenres;
    private IEnumerable<GameLocalization> gamesLocalizations;
    private IEnumerable<GameDeveloper> gamesDevelopers;
    private IEnumerable<GamePublisher> gamesPublishers;
    private IEnumerable<GamePlatform> gamesPlatforms;

    protected override async Task OnInitializedAsync()
    {
        gamesGenres = await HttpClient.GetFromJsonAsync<IEnumerable<GameGenre>>("api/GamesGenres");
        gamesLocalizations = await HttpClient.GetFromJsonAsync<IEnumerable<GameLocalization>>("api/GamesLocalizations");
        gamesDevelopers = await HttpClient.GetFromJsonAsync<IEnumerable<GameDeveloper>>("api/GamesDevelopers");
        gamesPublishers = await HttpClient.GetFromJsonAsync<IEnumerable<GamePublisher>>("api/GamesPublishers");
        gamesPlatforms = await HttpClient.GetFromJsonAsync<IEnumerable<GamePlatform>>("api/GamesPlatforms");
    }

    private async Task HandleFileSelected(InputFileChangeEventArgs e)
    {
        selectedImage = e.File;

        // Optionally, you can preview the selected image
        var stream = selectedImage.OpenReadStream();
        // Example of reading the file and setting the source (you can use this for displaying a preview)
        addGameViewModel.ImageSource = selectedImage.Name; // Just the file name, you might want to do more here
    }

    private void SelectGenreForGame(GameGenre gameGenre)
    {
        if (addGameViewModel.GameGenres.Contains(gameGenre))
            addGameViewModel.GameGenres.Remove(gameGenre);
        else
            addGameViewModel.GameGenres.Add(gameGenre);
    }

    private void SelectDeveloperForGame(GameDeveloper gameDeveloper)
    {
        if (addGameViewModel.Developers.Contains(gameDeveloper))
            addGameViewModel.Developers.Remove(gameDeveloper);
        else
            addGameViewModel.Developers.Add(gameDeveloper);
    }

    private void SelectPublisherForGame(GamePublisher gamePublisher)
    {
        if (addGameViewModel.Publishers.Contains(gamePublisher))
            addGameViewModel.Publishers.Remove(gamePublisher);
        else
            addGameViewModel.Publishers.Add(gamePublisher);
    }

    private void SelectPlatformForGame(GamePlatform gamePlatform)
    {
        if (addGameViewModel.Platforms.Contains(gamePlatform))
            addGameViewModel.Platforms.Remove(gamePlatform);
        else
            addGameViewModel.Platforms.Add(gamePlatform);
    }

    private async Task HandleSubmit()
    {
        // If you want to upload the file before submitting the form
        if (selectedImage != null)
        {
            var content = new MultipartFormDataContent();
            var fileContent = new StreamContent(selectedImage.OpenReadStream());
            fileContent.Headers.ContentType = new System.Net.Http.Headers.MediaTypeHeaderValue(selectedImage.ContentType);
            content.Add(fileContent, "file", selectedImage.Name);

            var response = await HttpClient.PostAsync("api/GamesImages", content);
            if (response.IsSuccessStatusCode)
            {
                // Process the response, perhaps save the file URL into ImageSource
                addGameViewModel.ImageSource = $"{HttpClient.BaseAddress}api/GamesImages/{selectedImage.Name}";
            }
        }

        // Now submit the rest of the form data
        var addGameResponse = await HttpClient.PostAsJsonAsync("api/GamesAdmin", addGameViewModel);
        if (addGameResponse.IsSuccessStatusCode)
        {
            var createdGame = await addGameResponse.Content.ReadFromJsonAsync<Game>();

            var cachedGames = (await LocalStorageService.GetItemAsync<IEnumerable<Game>>("games")).ToList();

            cachedGames.Add(createdGame);

            await LocalStorageService.SetItemAsync<IEnumerable<Game>>("games", cachedGames);

            await JSRuntime.InvokeVoidAsync("alert", "Game created succesfully");
            NavigationManager.NavigateTo("/");
        }
        else
            await JSRuntime.InvokeVoidAsync("alert", await addGameResponse.Content.ReadAsStringAsync());
    }
}