@using Domain.ViewModels
@inject HttpClient HttpClient

@page "/add-game"

<div class="form-control">
    <div class="row">
        <div class="col-lg-4">
            <h4>Название:</h4>
        </div>
        <div class="col-lg-8">
            <input type="text" @bind-value="@Name" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>Описание:</h4>
        </div>
        <div class="col-lg-8">
            <input type="text" @bind-value="@Description" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>Оценка:</h4>
        </div>
        <div class="col-lg-8">
            <input type="number" @bind-value="@Score" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>Локализация:</h4>
        </div>
        <div class="col-lg-8">
            <input type="tel" @bind-value="@LocalizationId" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>Дата выхода:</h4>
        </div>
        <div class="col-lg-8">
            <input type="date" @bind-value="@ReleaseDate" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>Изображение:</h4>
        </div>
        <div class="col-lg-8">
            <input type="text" @bind-value="@Image" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h4>Добавить</h4>
        </div>
        <div class="col-lg-8">
            <input type="submit" value="Добавить" @onclick="@AddGameAsync" />
        </div>
    </div>
</div>

@code {
    public string Name { get; set; }
    public float? Score { get; set; }
    public string Image { get; set; }
    public string Description { get; set; }
    public long? LocalizationId { get; set; }
    public DateTime? ReleaseDate { get; set; }

    public async Task AddGameAsync()
    {
        var addGameViewModel = new AddGameViewModel
            {
                Description = Description,
                ImageSource = Image,
                LocalizationId = LocalizationId,
                Name = Name,
                ReleaseDate = ReleaseDate,
                Score = Score
            };

        await HttpClient.PostAsJsonAsync<AddGameViewModel>("api/GamesAdmin", addGameViewModel);
    }
}