@using Domain
@inject HttpClient HttpClient;

@if (Games is null)
{
    <p>Loading...</p>
}
else
{
    <div class="list clear best">
        @foreach (var game in Games)
        {
            <div class="post clear">
                <a href="@game.Name" title="Игра @game.Name" class="thumb"><img class="post-image" src="@game.ImageSource" alt="Игра @game.Name"></a>
                <div class="best-prod">
                    <div class="counter">1</div>
                    <span class="star">&#9733;</span>
                </div>
                <h3><a class="name" href="@game.Name">@game.Name</a></h3>
                <div class="post-meta">
                    @foreach (var publisher in game.Publishers)
                    {
                        <p>@publisher.Name</p>
                    }
                </div>
                <div class="post-meta">
                    @foreach (var platform in game.Platforms)
                    {
                        <p>@platform.Name</p>
                    }
                </div>
                <div class="post-meta">
                    @foreach (var genre in game.Genres)
                    {
                        <p>@genre.Name</p>
                    }
                </div>
                <div class="trailer" data-video="@game.Name/#content-trailer"></div>
                <div class="ratings-graph">
                    <div class="graph">
                        <div class="small-score mark-@(game.Score.HasValue ? Math.Round(game.Score.Value) : 0)">@(game.Score.HasValue ? game.Score.Value : 0)</div>
                        <div class="graph-body"><div style="width:@(game.Score.HasValue ? Math.Round(game.Score.Value):0)%" class="rating-graph mark-@(game.Score.HasValue ? Math.Round(game.Score.Value) : 0)"></div></div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    public IEnumerable<Game> Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Games = await HttpClient.GetFromJsonAsync<IEnumerable<Game>>("/api/GamesDetailsPage");
    }
}
