@using Domain
@inject HttpClient HttpClient;


@if (Games is null)
{
    <p>Loading...</p>
}
else
{
    <div>
        @foreach (var game in Games)
        {
            <div>
                <a href="@game.Name" title="Игра @game.Name"><img src="@game.ImageSource" alt="Игра @game.Name"></a>
                <div>
                    <div></div>
                    <span>&#9733;</span>
                </div>
                <h3><a href="@game.Name">@game.Name</a></h3>
                <div>
                    @foreach (var publisher in game.Publishers)
                    {
                        <p>@publisher.Name</p>
                    }
                </div>
                <div>
                    @foreach (var platform in game.Platforms)
                    {
                        <p>@platform.Name</p>
                    }
                </div>
                <div><p>@string.Join(", ", game.Genres.Select(g => g.Name))</p></div>
                <div>
                    @foreach (var trailer in game.Trailers)
                    {
                        <iframe class="embed-responsive-item" src=@("https://www.youtube.com/embed/@trailer.Url?autoplay=0&mute=1".Replace("@trailer.Url",trailer.Url))>
                        </iframe>
                    }
                </div>
                <div class="ratings-graph">
                    <div class="graph">
                        <div>@game.Score</div>
                        <div><div></div></div>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    public IEnumerable<Game> Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Games = await HttpClient.GetFromJsonAsync<IEnumerable<Game>>("/api/GamesDetailsPage");
    }
}
