@using Domain
@inject HttpClient HttpClient;

@if (Games is null)
{
    <p>Loading...</p>
}
else
{
    <div>
        @foreach (var game in Games)
        {
            <div>
                <a href="@game.Name" title="Игра @game.Name"><img src="@game.ImageSource" alt="Игра @game.Name"></a>
                <div>
                    <div>1</div>
                    <span>&#9733;</span>
                </div>
                <h3><a href="@game.Name">@game.Name</a></h3>
                <div>
                    @foreach (var publisher in game.Publishers)
                    {
                        <p>@publisher.Name</p>
                    }
                </div>
                <div>
                    @foreach (var platform in game.Platforms)
                    {
                        <p>@platform.Name</p>
                    }
                </div>
                <div>
                    @foreach (var genre in game.Genres)
                    {
                        <p>@genre.Name</p>
                    }
                </div>
                <div>
                    <div>
                        <div>@(game.Score.HasValue ? game.Score.Value : 0)</div>
                        <div><div></div></div>
                    </div>
                </div>
                <div>
                    @foreach (var trailer in game.Trailers)
                    {
                        <iframe src=@("https://www.youtube.com/embed/@trailer.Url?autoplay=0&mute=1".Replace("@trailer.Url",trailer.Url))>
                        </iframe>
                    }
                </div>
            </div>
        }
    </div>
}

@code {
    public IEnumerable<Game> Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Games = await HttpClient.GetFromJsonAsync<IEnumerable<Game>>("/api/GamesDetailsPage");
    }
}
