@using Domain
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;

@if (Games is null)
{
    <div class="mynavbar">Loading...</div>
}
else
{
    <div class="list clear best">
        @foreach (var game in Games)
        {
            <div class="post clear">
                <a href="@game.Name" title="Игра @game.Name" class="thumb"><img class="post-image" src="@game.ImageSource" alt="Игра @game.Name"></a>
                <div class="best-prod">
                    <div class="counter">1</div>
                    <span class="star">★</span>
                </div>
                <h3><a class="name" href="/games/details/@game.Name">@game.Name</a></h3>
                <div class="post-meta">
                    @foreach (GameDeveloper gameDeveloper in game.Developers)
                    {
                        <p>@gameDeveloper.Name</p>
                    }
                </div>
                <div class="post-meta">
                    @foreach (GamePlatform gamePlatform in game.Platforms)
                    {
                        <p>@gamePlatform.Name</p>
                    }
                </div>
                <div class="post-meta"><p>@string.Join(", ", game.Genres.Select(g => g.Name))</p></div>
                <div class="trailer" data-video="https://metarankings.ru/the-last-of-us-remastered/#content-trailer"></div>
                <div class="ratings-graph">
                    <div class="graph">
                        <div class="small-score mark-@Math.Round(game.Score.Value)">@Math.Round(game.Score.Value, 1)</div>
                        <div class="graph-body"><div style="width:@(Math.Round(game.Score.Value,1)*10)%" class="rating-graph mark-@Math.Round(game.Score.Value)"></div></div>
                    </div>
                </div>
            </div>
        }
    </div>
}

<div class="pagination">
    <div class="navi">
        <span class="page-numbers current">1</span>
        <a class="page-numbers" href="" @onclick="@(()=>RefreshGotGames(pageNumber:Page))" @onclick:preventDefault>@(Page)</a>
        <a class="page-numbers" href="" @onclick="@(()=>RefreshGotGames(pageNumber:Page+1))" @onclick:preventDefault>@(Page + 1)</a>
        <a class="page-numbers" href="" @onclick="@(()=>RefreshGotGames(pageNumber:Page+2))" @onclick:preventDefault>@(Page + 2)</a>
        <span class="page-numbers dots">…</span>
        <a class="page-numbers" href="" @onclick="@(()=>RefreshGotGames())" @onclick:preventDefault>10</a>
        <a class="next page-numbers" href="" @onclick="@(()=>RefreshGotGames(pageNumber:Page+3))">Показать еще</a>
    </div>
</div>

@code {
    [Parameter]
    public int Page { get; set; }
    public IEnumerable<Game> Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Games = await GetGamesAsync(10, Page);
    }

    private async Task RefreshGotGames(int pageSize = 10, int pageNumber = 1)
    {
        NavigationManager.NavigateTo($"/{pageNumber}");
        Page = pageNumber;
        Games = await GetGamesAsync(10, Page);
    }

    private async Task<IEnumerable<Game>> GetGamesAsync(int pageSize = 10, int pageNumber = 1)
    {
        var games = await HttpClient.GetFromJsonAsync<IEnumerable<Game>>($"api/GamesDetailsPage/pageSize={pageSize}&page={pageNumber}");
        return games;
    }
}
