@using Blazored.LocalStorage
@using Domain
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;
@inject ILocalStorageService LocalStorageService;

@if (Games is null)
{
    <div class="mynavbar">Loading...</div>
}
else
{
    <div id="loop" class="list clear best" itemscope="" itemtype="https://schema.org/ItemList">
        @for (int i = 0; i < Games.Length; i++)
        {
            <div class="post clear" itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                <a href="/games/details/@Games[i].Name" title="Игра @Games[i].Name" class="thumb"><img class="post-image" src="@GetImageUrl(@Games[i].ListImageSource)" alt="Игра @Games[i].Name"></a>
                <div class="best-prod">
                    <div class="counter" itemprop="position">@(i + 1)</div>
                    <span class="star">★</span>
                </div>
                <div itemprop="item" itemscope="" itemtype="https://schema.org/VideoGame">
                    <link itemprop="url" href="/games/details/@Games[i].Name">
                    <link itemprop="image" href="@GetImageUrl(Games[i].ListImageSource)">
                    <meta itemprop="dateCreated" content="@Games[i].ReleaseDate.Year">
                    <h3 itemprop="name"><a class="name" href="/games/details/@Games[i].Name">@Games[i].Name</a></h3>
                    <div class="post-meta">
                        <p itemprop="gamePlatform">@string.Join(", ", Games[i].Publishers.Select(g => g.Name))</p>
                    </div>
                    <div class="post-meta">
                        <p itemprop="gamePlatform">@string.Join(", ", Games[i].Platforms.Select(g => g.Name))</p>
                    </div>
                    <div class="post-meta"><p itemprop="genre">@string.Join(", ", Games[i].Genres.Select(g => g.Name))</p></div>
                </div>
                <div class="trailer" data-video="https://metarankings.ru/@Games[i].Name.Replace(" ","-")/#content-trailer"></div>
                <div class="ratings-graph">
                    <div class="graph">
                        <div class="small-score mark-@(Games[i].Score.HasValue ? Math.Round(Games[i].Score.Value) : 0)">@(Games[i].Score.HasValue ? Games[i].Score.Value : 0)</div>
                        <div class="graph-body"><div style="width:@(Games[i].Score.HasValue ? Games[i].Score.Value*10 : 0)%" class="rating-graph mark-@(Games[i].Score.HasValue ? Math.Round(Games[i].Score.Value) : 0)"></div></div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <ul class="pagination">
            @if (Page > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="#" @onclick="@(() => RefreshGotGames(pageNumber: Page-1))">@(Page - 1)</a>
                </li>
            }
            <li class="page-item active">
                <a class="page-link" href="#" @onclick="@(() => RefreshGotGames(pageNumber: Page))"><span class="sr-only">@Page</span></a>
            </li>
            @if (Games.Count() == PageSize)
            {
                <li class="page-item">
                    <a class="page-link" href="#" @onclick="@(() => RefreshGotGames(pageNumber: Page+1))">@(Page + 1)</a>
                </li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public int PageSize { get; set; }
    public Game[] Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshGotGames(PageSize, Page);
    }

    private async Task RefreshGotGames(int pageSize = 10, int pageNumber = 1)
    {
        NavigationManager.NavigateTo($"/{pageNumber}");
        Page = pageNumber;
        Games = await GetGamesAsync(PageSize, Page);
        await LocalStorageService.SetItemAsync<Game[]>("games", Games);
    }

    private async Task<Game[]> GetGamesAsync(int pageSize = 10, int pageNumber = 1)
    {
        var games = await HttpClient.GetFromJsonAsync<Game[]>($"api/GamesDetailsPage/{pageSize}/{pageNumber}");
        return games;
    }

    private string GetImageUrl(string imageSource)
    {
        // Ensure there's no double slashes in the URL
        return new Uri(new Uri(HttpClient.BaseAddress.ToString(), UriKind.Absolute), imageSource.TrimStart('/')).ToString();
    }
}
