@using Blazored.LocalStorage
@using Domain
@inject HttpClient HttpClient;
@inject NavigationManager NavigationManager;
@inject ILocalStorageService LocalStorageService;

@if (Games is null)
{
    <div class="mynavbar">Loading...</div>
}
else
{
    <div class="list clear best">
        @for (int i = 0; i < Games.Length; i++)
        {
            <div class="post clear">
                <a href="/games/details/@Games[i].Name" title="Игра @Games[i].Name" class="thumb">
                    <img class="post-image" src="@GetImageUrl(Games[i].ListImageSource)" alt="Игра @Games[i].Name">
                </a>
                <div class="best-prod">
                    <div class="counter">@((Page - 1) * PageSize + i + 1)</div>
                    <span class="star">★</span>
                </div>
                <h3>
                    <a class="name" href="/games/details/@Games[i].Name">@Games[i].Name</a>
                </h3>
                <div class="post-meta">
                    @foreach (GameDeveloper gameDeveloper in Games[i].Developers)
                    {
                        <p>@gameDeveloper.Name</p>
                    }
                </div>
                <div class="post-meta">
                    <p>
                        @for (int j = 0; j < Games[i].Platforms.Count; j++)
                        {
                            @Games[i].Platforms.ElementAt(j).Name
                            if (j < Games[i].Platforms.Count - 1)
                            {
                                <text>, </text>
                            }
                        }
                    </p>
                </div>
                <div class="post-meta">
                    <p>
                        @for (int j = 0; j < Games[i].Genres.Count; j++)
                        {
                            @Games[i].Genres.ElementAt(j).Name
                            if (j < Games[i].Genres.Count - 1)
                            {
                                <text>, </text>
                            }
                        }
                    </p>
                </div>
                <div class="trailer" data-video="https://metarankings.ru/the-last-of-us-remastered/#content-trailer"></div>
                <div class="ratings-graph">
                    <div class="graph">
                        <div class="small-score mark-@Math.Round(Games[i].Score.Value)">@Math.Round(Games[i].Score.Value, 1)</div>
                        <div class="graph-body">
                            <div style="width:@(Math.Round(Games[i].Score.Value,1)*10)%" class="rating-graph mark-@Math.Round(Games[i].Score.Value)"></div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="pagination">
        <div class="navi">
            @if (Page > 1)
            {
                <a class="page-numbers" href="" @onclick="@(()=>RefreshGotGames(pageNumber:Page-1))" @onclick:preventDefault>@(Page - 1)</a>
            }
            <span class="page-numbers current">@Page</span>
            @if (Games.Count() == PageSize)
            {
                <a class="page-numbers" href="" @onclick="@(()=>RefreshGotGames(pageNumber:Page+1))" @onclick:preventDefault>@(Page + 1)</a>
            }
        </div>
    </div>
}

@code {
    [Parameter]
    public int Page { get; set; }
    [Parameter]
    public int PageSize { get; set; }
    public Game[] Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await RefreshGotGames(PageSize, Page);
    }

    private async Task RefreshGotGames(int pageSize = 10, int pageNumber = 1)
    {
        NavigationManager.NavigateTo($"/{pageNumber}");
        Page = pageNumber;
        Games = await GetGamesAsync(PageSize, Page);
        await LocalStorageService.SetItemAsync<Game[]>("games", Games);
    }

    private async Task<Game[]> GetGamesAsync(int pageSize = 10, int pageNumber = 1)
    {
        var games = await HttpClient.GetFromJsonAsync<Game[]>($"api/GamesDetailsPage/{pageSize}/{pageNumber}");
        return games;
    }

    private string GetImageUrl(string imageSource)
    {
        // Ensure there's no double slashes in the URL
        return new Uri(new Uri(HttpClient.BaseAddress.ToString(), UriKind.Absolute), imageSource.TrimStart('/')).ToString();
    }
}
