@using Domain
@inject HttpClient HttpClient;


@if (Games is null)
{
    <p>Loading...</p>
}
else
{
    <div>
        @foreach (var game in Games)
        {
            <div class="panel panel-default">
                <a href="#" title="Игра @game.Name" class="thumb"><img class="img-fluid" src="@game.ImageSource" alt="@game.Name"></a>
                <a class="nav-link" href="#">@game.Name</a>
                <p class="text-info">@string.Join(", ", game.Developers)</p>
                <p class="text-info">@string.Join(", ", game.Publishers)</p>
                <p class="text-info">@game.Description</p>
                @{
                    var trailer = game.Trailers?.FirstOrDefault();
                    if (trailer != null && !string.IsNullOrWhiteSpace(trailer.Url))
                    {
                        <iframe class="panel panel-default" src=@("https://www.youtube.com/embed/@trailer.Url?autoplay=0&mute=1".Replace("@trailer.Url",trailer.Url)) />
                    }
                }
                <iframe class="panel panel-default" src="@(game.Trailers?.FirstOrDefault() != null ? game.Trailers.First().Url : "")" />
                <div class="panel panel-default">
                    <div class="panel panel-default">@(game.Score.HasValue ? game.Score.Value : 0)</div>
                    <div class="panel panel-default">@(game.Score.HasValue ? game.Score.Value : 0)></div>
                </div>
            </div>
        }
    </div>
}

@code {
    public IEnumerable<Game> Games { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Games = await HttpClient.GetFromJsonAsync<IEnumerable<Game>>("/api/GamesDetailsPage");
    }
}
