@page "/games/details/{Name}"
@using Domain
@using System.Globalization

@inject HttpClient HttpClient

<Headerer />

<div class="wrapper">
    <GameMenu />
    <div id="container" class="clear">
        <div class="sidebar">
        </div>
        <div id="content" class="lcol">
            <div class="entry" itemscope itemtype="http://schema.org/VideoGame">
                <div class="post single clear game" id="post_25216">

                    <div class="featured-game">
                        <p>
                            <span class="label">Разработчик:</span> @foreach (var developer in FeaturedGame.Developers)
                            {
                                <NavLink class="my-nav-link" href="/games/details/alex">@developer.Name</NavLink>

                                <text>, </text>
                            }
                        </p>
                        <p>
                            <span class="label">Издатель:</span> @foreach (var publisher in FeaturedGame.Publishers)
                            {
                                <NavLink class="my-nav-link" href="/games/details/alex">@publisher.Name</NavLink>

                                <text>, </text>
                            }
                        </p>
                        <p>
                            <span class="label">Платформы:</span> <span itemprop="gamePlatform">
                                @foreach (var platform in FeaturedGame.Platforms)
                                {
                                    <NavLink class="my-nav-link" href="/games/details/alex">@platform.Name</NavLink>
                                    <text>, </text>
                                }
                            </span>
                        </p>
                        <p>
                            <span class="label">Жанр:</span> <span itemprop="genre">
                                @foreach (var genre in FeaturedGame.Genres)
                                {
                                    <NavLink class="my-nav-link" href="/games/details/alex">@genre.Name</NavLink>
                                }
                            </span>
                        </p>
                        <p><span class="label">Локализация:</span> <span itemprop="inLanguage"></span> (<NavLink class="my-nav-link" href="/games/details/alex">@FeaturedGame.Localization.Name</NavLink>)</p>
                        @if (FeaturedGame.ReleaseDate != default(DateTime))
                        {
                            <p><span class="label">Дата выхода:</span> @FeaturedGame.ReleaseDate.ToString("dd MM yyyy", new CultureInfo("RU-ru"))</p>
                        }
                    </div>

                    <div class="description">
                        <h3>Описание</h3>

                    </div>

                    <div class="podborki">
                        <p>
                            <NavLink class="my-nav-link" href="/games/details/alex">Игры 2024</NavLink>
                            <NavLink class="mark-link" href="/games/details/alex">Топ игр на ПК</NavLink>
                            <NavLink class="mark-link" href="/games/details/alex">хорроры</NavLink>
                        </p>
                    </div>
                </div>
                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-7 -->
                    <div id="yandex_rtb_R-A-201169-7-1"></div>
                </div>
                <div class="post-footer">
                    <h3>Трейлер и скриншоты</h3>
                    <div id="tcontent">
                        <div class="video-content">
                            <div id="content-trailer">
                                <iframe title="Трейлер The Thing: Remastered" height="240" width="670" src="https://rutube.ru/play/embed/fabe696a815d1dd20645285e0eb9016c" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>
                        </div>
                    </div>
                    <ul class="gallery">
                        <li><img class="attachment-screenshot" src="https://metarankings.ru/images/uploads/2024/12/the-thing-remastered-boxart-cover-100x75.jpg" data-original="https://metarankings.ru/images/uploads/2024/12/the-thing-remastered-boxart-cover.jpg" alt="Скриншоты The Thing: Remastered" title="The Thing: Remastered" width="100" height="75"></li>
                    </ul>
                </div>
            </div>
            <div class="reviews">
                <div id="reviews">
                    <h2 id="critics"><span>Обзоры и оценки</span> Критики</h2>
                    <span class="countnum">4</span>
                    <p><NavLink class="my-nav-link" href="/games/details/alex">Оценки и отзывы</NavLink> критиков из обзоров от разных интернет-изданий.</p>

                    <div class="reviews_list">
                        <div id="review-1" class="critic-text mark-8">
                            <div class="review-meta">
                                <div class="small-score mark-8">
                                    <span data-title="Оценка из 10 баллов" class="tooltip">8</span>
                                </div>
                                <div class="review-author"><p><NavLink class="my-nav-link" href="/games/details/alex"><span>Shacknews</span></NavLink> Ти Джей Дензер</p></div>
                            </div>
                            <blockquote><p class="quote">По своей концепции и механике The Thing вполне заслуживает внимания любителей и энтузиастов. На самом деле, ничего подобного не существует, и, возможно, это потому, что это было бы трудно сделать хорошо.</p></blockquote>
                            <div class="rew-menu">
                                <span class="menu-dot"></span><span class="menu-dot"></span><span class="menu-dot"></span>
                                <ul>
                                    <li><NavLink class="complain" rel="nofollow" href="/games/details/alex">Пожаловаться на отзыв</NavLink></li>
                                </ul>
                            </div>
                            <NavLink class="allreviews" href="/games/details/alex">Читать обзор полностью</NavLink>
                        </div>
                        <div id="review-2" class="critic-text mark-7">
                            <div class="review-meta">
                                <div class="small-score mark-7">
                                    <span data-title="Оценка из 10 баллов" class="tooltip">7</span>
                                </div>
                                <div class="review-author"><p><NavLink class="my-nav-link" href="/games/details/alex"><span>TechRaptor</span></NavLink> Остин Сатер</p></div>
                            </div>
                            <blockquote><p class="quote">Выглядит фантастически и обладает всеми достоинствами, которые только можно ожидать от ремастера. В продолжении культового фильма 1982 года сюжет мне не очень понравился, а геймплей, в основном за счет компаньонов с искусственным...</p></blockquote>
                            <div class="rew-menu">
                                <span class="menu-dot"></span><span class="menu-dot"></span><span class="menu-dot"></span>
                                <ul>
                                    <li><NavLink class="complain" rel="nofollow" href="/games/details/alex">Пожаловаться на отзыв</NavLink></li>
                                </ul>
                            </div>
                            <NavLink class="allreviews" href="/games/details/alex">Читать обзор полностью</NavLink>
                        </div>
                        <div id="review-3" class="critic-text mark-6">
                            <div class="review-meta">
                                <div class="small-score mark-6">
                                    <span data-title="Оценка из 10 баллов" class="tooltip">6</span>
                                </div>
                                <div class="review-author"><p><NavLink class="my-nav-link" href="/games/details/alex"><span>GameSpot</span></NavLink> Ричард Вейкелинг</p></div>
                            </div>
                            <blockquote><p class="quote">Заново представляет собой несовершенную, но увлекательную игру, с обновленными визуальными эффектами и рядом важнейших улучшений...</p></blockquote>
                            <div class="rew-menu">
                                <span class="menu-dot"></span><span class="menu-dot"></span><span class="menu-dot"></span>
                                <ul>
                                    <li><NavLink class="complain" rel="nofollow" href="/games/details/alex">Пожаловаться на отзыв</NavLink></li>
                                </ul>
                            </div>
                            <NavLink class="allreviews" href="/games/details/alex">Читать обзор полностью</NavLink>
                        </div>
                        <div id="review-4" class="critic-text mark-6">
                            <div class="review-meta">
                                <div class="small-score mark-6">
                                    <span data-title="Оценка из 10 баллов" class="tooltip">5.5</span>
                                </div>
                                <div class="review-author"><p><NavLink class="my-nav-link" href="/games/details/alex"><span>Destructoid</span></NavLink> Зои Хэндли </p></div>
                            </div>
                            <blockquote><p class="quote">Это завораживающее скопление ошибок и совершенно неубедительная копия исходного материала. Но от него трудно отвести взгляд, когда он переворачивается наизнанку.</p></blockquote>
                            <div class="rew-menu">
                                <span class="menu-dot"></span><span class="menu-dot"></span><span class="menu-dot"></span>
                                <ul>
                                    <li><NavLink class="complain" rel="nofollow" href="/games/details/alex">Сообщить о проблеме</NavLink></li>
                                </ul>
                            </div>
                            <NavLink class="allreviews" href="/games/details/alex">Читать обзор полностью</NavLink>
                        </div>
                    </div>
                </div>
                <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                    <meta itemprop="reviewCount" content="4">
                    <meta itemprop="ratingCount" content="4">
                    <meta itemprop="bestRating" content="10">
                    <meta itemprop="worstRating" content="1">
                    Общий рейтинг критиков = <span itemprop="ratingValue">6.6</span>
                </div>
                <span class="links-add">Добавить обзор</span>
            </div>
            <div class="ads-horizont hor-1">
                <!-- Yandex.RTB R-A-201169-5 -->
                <div id="yandex_rtb_R-A-201169-5_2"></div>
            </div>
            <div class="user-reviews comments">
                <div id="comments">
                    <h2 id="users"><span>Отзывы и оценки</span> Игроки</h2>
                    <span class="countnum">0</span>
                    <p>Если вы уже поиграли в игру, расскажите, что вы о ней думаете. Расскажите о ее сильных и слабых сторонах, о ее плюсах и минусах. Ваш <NavLink class="my-nav-link" href="/games/details/alex">Отзывов от игроков</NavLink> пока нет.</p>
                </div>
            </div>
            <div id="respond" class="comment-respond">
                <h3 id="reply-title" class="comment-reply-title"> <small><NavLink rel="nofollow" id="cancel-comment-reply-link" href="/games/details/alex">Отменить ответ</NavLink></small></h3>
                <form action="https://metarankings.ru/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                    <div class="commform-author"><p>Ваше имя <span>Обязательно!</span></p><div><input type="text" name="metarankings-name" id="author" tabindex="2" /></div></div>
                    <div class="commform-textarea"><div><div class="count"><span id="count">0</span> (60 символов - минимум)</div><label for="comment"><h2>Ваш отзыв</h2> <span>(не менее 60 символов, без мата, оскорблений, капса и без ссылок на сторонние ресурсы)</span></label><textarea name="metarankings-comm" id="comment" cols="50" rows="7" tabindex="1"></textarea></div></div>												<p class="form-submit">
                        <input name="submit" type="submit" id="submit" value="Отправить" />
                        <input type='hidden' name='comment_post_ID' value='25216' id='comment_post_ID' />
                        <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                    </p>
                </form>
            </div><!-- #respond -->
        </div>
    </div>
    <div class="ads-horizont hor-1">
        <div id="yandex_rtb_R-A-201169-26"></div>
    </div>
    <div class="list clear similar">
        <h2>Похожие игры на The Thing: Remastered</h2>
        <NavLink class="my-nav-link" href="/games/details/alex">
            <div class="featured-image">
                <img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/sorry-were-closed-boxart-cover-196x281.jpg" alt="Sorry We&#8217;re Closed">
                <div class="small-score mark-7">6.7</div>
                <span>Sorry We&#8217;re Closed</span>
            </div>
        </NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">
            <div class="featured-image">
                <img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/slitterhead-boxart-cover-196x281.jpg" alt="Slitterhead">
                <div class="small-score mark-6">5.7</div>
                <span>Slitterhead</span>
            </div>
        </NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">
            <div class="featured-image">
                <img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/a-quiet-place-the-road-ahead-boxart-cover-196x281.jpg" alt="A Quiet Place: The Road Ahead">
                <div class="small-score mark-6">6.2</div>
                <span>A Quiet Place: The Road Ahead</span>
            </div>
        </NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">
            <div class="featured-image">
                <img class="post-image" src="https://metarankings.ru/images/uploads/2023/03/silent-hill-2-remake-boxart-cover-196x281.jpg" alt="Silent Hill 2">
                <div class="small-score mark-8">8.1</div>
                <span>Silent Hill 2</span>
            </div>
        </NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">
            <div class="featured-image">
                <img class="post-image" src="https://metarankings.ru/images/uploads/2024/09/the-casting-of-frank-stone-boxart-cover-196x281.jpg" alt="The Casting of Frank Stone">
                <div class="small-score mark-6">6.5</div>
                <span>The Casting of Frank Stone</span>
            </div>
        </NavLink>
        <NavLink class="my-nav-link" href="/games/details/alex">
            <div class="featured-image">
                <img class="post-image" src="https://metarankings.ru/images/uploads/2024/07/sylvio-black-waters-boxart-cover-196x281.jpg" alt="Sylvio: Black Waters">
                <div class="small-score mark-0">0</div>
                <span>Sylvio: Black Waters</span>
            </div>
        </NavLink>
    </div>
</div>
<div class="sidebar rcol">
    <div class="widget">
        <div class="widget-body">
            <ul>

                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Indiana Jones and the Great Circle</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">S.T.A.L.K.E.R. 2: Heart of Chernobyl</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Dragon Age: The Veilguard</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Call of Duty: Black Ops 6</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Silent Hill 2</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">The Legend of Zelda: Echoes of Wisdom</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Astro Bot</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Star Wars Outlaws</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Black Myth: WuKong</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Senua’s Saga: Hellblade 2</NavLink></span>
                    </div>
                </li>
                <li class="recent-reviews">
                    <div class="ureview-text">
                        <span class="title-reviews"><NavLink class="my-nav-link" href="/games/details/alex">Последние отзывы</NavLink></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string Name { get; set; }

    public FeaturedGame FeaturedGame { get; set; } = new FeaturedGame
        {
            Developers = new Developer[]
                                                                    {
                new Developer
                {
                    Name = "Nightdive Studios",
                    Link = "/razrabotchiki/nightdive_studios/"
                }
                                                                    },
            Localization = new Localization
            {
                Link = "https://metarankings.ru/igry-bez-russkogo-yazyka/",
                Name = "Английский (без русского языка)"
            },
            Platforms = new Platform[]
                                                                    {
                new Platform
                {
                    Link = "https://metarankings.ru/meta/games/pc/",
                    Name = "PC"
                }
                                                                    },
            Publishers = new Publisher[]
                                                                    {
                new Publisher
                {
                    Name = "Nightdive Studios",
                    Link = "/razrabotchiki/nightdive_studios/"
                }
                                                                    },
            Genres = new Genre[]
                                                                {
                new Genre
            {
                Name = "Хоррор",
                Link = "https://metarankings.ru/genre/xorror/"
            }
                                                            }
        };
}
