@page "/games/details/{Title}"
@using Domain
@using System.Globalization

@inject HttpClient HttpClient

<link rel="stylesheet" href="~/css/app.css" />

<BlazorClient.Components.Home.TopHomeNavigationComponent />

<div class="wrapper">
    <div class="game-menu">
        <div class="platform-menu">
            <ul>
                <li>
                    <a class="bst" href="https://metarankings.ru/best-games-2024/">Лучшие игры 2024</a>
                </li>
                <li>
                    <a class="bst" href="https://metarankings.ru/best-games-2023/">2023</a>
                </li>
                <li>
                    <a class="mnew" href="https://metarankings.ru/new-games/">Новые игры</a>
                </li>
                <li>
                    <a href="https://metarankings.ru/release-date/">Дата выхода игр</a>
                </li>
                <li>
                    <a href="https://metarankings.ru/most-waiting-games/">Самые ожидаемые игры</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="container" class="clear">
        <div class="sidebar">

            <div class="widget">
                <div class="widget-body">
                    <div class="graph">
                        <h3>Рейтинг <a href="#critics">критиков</a></h3>
                        <div class="graph-body"><div class="rating-graph mark-@(Math.Round(DetailsComponentItem.CriticsAverageScore))" style="width:@(DetailsComponentItem.CriticsAverageScore*10)%"><span class="score-graph">@DetailsComponentItem.CriticsAverageScore</span></div></div>
                        <h3>Рейтинг <a href="#users">игроков</a></h3>
                        <div class="graph-body"><div class="rating-graph mark-@(Math.Round(DetailsComponentItem.GamersAverageScore))" style="width:@(DetailsComponentItem.GamersAverageScore*10)%"><span class="score-graph">@DetailsComponentItem.GamersAverageScore</span></div></div>
                        <span>Метарейтинг</span> <span class="metaranking">?</span>
                        <div class="graph-body"><div class="rating-graph mark-@(Math.Round(DetailsComponentItem.Metarating))" style="width:@(DetailsComponentItem.Metarating*10)%"><span class="score-graph">@DetailsComponentItem.Metarating</span></div></div>
                        <div class="wait-stat">Ожидания: @DetailsComponentItem.ExpectationsPercent%</div>
                        <div class="graph-body"><div class="rating-wait mark-0" style="width:@(Math.Round(DetailsComponentItem.ExpectationsPercent))%"></div></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="lcol">
            <div class="entry" itemscope itemtype="http://schema.org/VideoGame">
                <div class="post single clear game" id="post_25216">
                    <div class="post-meta">
                        <h1><span itemprop="name">@DetailsComponentItem.Name</span></h1>
                        <meta itemprop="dateCreated" content="@DetailsComponentItem.PremiereDate.Year">
                    </div>
                    <div class="post-content">
                        <div class="thumb">
                            <img class="post-image" src="@DetailsComponentItem.ImageSource" alt="Игра @DetailsComponentItem.Name" title="Игра @DetailsComponentItem.Name" itemprop="image">
                            <div class="watch-trailer">
                                <h3><span class="twatch"><span class="p-twatch">Смотреть трейлер</span></span></h3>
                            </div>
                        </div>
                        <div id="ratings">
                            <div class="ratings mark-@Math.Round(DetailsComponentItem.Metarating)">
                                <div id="post-ratings-25216" class="post-ratings" data-nonce="992e852fb7">
                                    <div class="rating">
                                        <div class="score">
                                            @Math.Round(DetailsComponentItem.Metarating, 1)
                                        </div>
                                        Оценки: <span>0</span>
                                    </div>
                                    <div class="your-score">
                                        <img id="rating_25216_1" class="rating-on mark-1" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_off.gif" style="cursor: pointer;" /> <span class="post-ratings-text" id="ratings_25216_text">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="featured-game">
                            <p><span class="label">Разработчик:</span> <a href="/razrabotchiki/nightdive_studios/">Nightdive Studios</a>, ...</p>
                            <p><span class="label">Издатель:</span> <a itemprop="publisher" href="/izdateli/nightdive_studios/">Nightdive Studios</a> </p>
                            <p><span class="label">Платформы:</span> <span itemprop="gamePlatform"><a href="https://metarankings.ru/meta/games/pc/">PC</a>, <a href="https://metarankings.ru/meta/games/ps4/">PS4</a>, <a href="https://metarankings.ru/meta/games/ps5/">PS5</a>, <a href="https://metarankings.ru/meta/games/switch/">Switch</a>, <a href="https://metarankings.ru/meta/games/xbox-one/">Xbox One</a>, <a href="https://metarankings.ru/meta/games/xbox-series-x/">Xbox Series X</a></span></p>
                            <p><span class="label">Жанр:</span> <span itemprop="genre"><a href="https://metarankings.ru/genre/xorror/">Хоррор</a></span></p>
                            <p><span class="label">Локализация:</span> <span itemprop="inLanguage">Английский</span> (<a href="https://metarankings.ru/igry-bez-russkogo-yazyka/">без русского языка</a>)</p>
                            <p><span class="label">Дата выхода:</span> <span>@DetailsComponentItem.PremiereDate.ToString("dd MM yyyy", new CultureInfo("ru-RU"))</span></p>
                        </div>

                        <div class="description">
                            <h3>Описание</h3>
                            <div itemprop="description">
                                <p>@DetailsComponentItem.Description</p>
                            </div>

                        </div>

                        <div class="podborki">
                            <p>
                                <a href="https://metarankings.ru/best-games-2024/">Игры 2024</a>
                                <a class="mark-link" href="https://metarankings.ru/best-pc-games/">Топ игр на ПК</a>
                                <a class="mark-link" href="https://metarankings.ru/top-horrors/">хорроры</a>
                            </p>
                        </div>
                    </div>
                    <div class="ads-horizont hor-1">
                        <!-- Yandex.RTB R-A-201169-7 -->
                        <div id="yandex_rtb_R-A-201169-7-1"></div>
                        <script>
                            window.yaContextCb.push(()=>{
                              Ya.Context.AdvManager.render({
                                renderTo: 'yandex_rtb_R-A-201169-7-1',
                                blockId: 'R-A-201169-7'
                              })
                            })</script>
                    </div>
                    <div class="post-footer">
                        <h3>Трейлер и скриншоты</h3>
                        <div id="tcontent">
                            <div class="video-content">
                                <div id="content-trailer">
                                    <iframe title="Трейлер The Thing: Remastered" height="240" width="670" src="https://rutube.ru/play/embed/fabe696a815d1dd20645285e0eb9016c" frameBorder="0" allow="clipboard-write; autoplay" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                                </div>
                            </div>
                        </div>
                        <ul class="gallery">
                            <li><img class="attachment-screenshot" src="https://metarankings.ru/images/uploads/2024/12/the-thing-remastered-boxart-cover-100x75.jpg" data-original="https://metarankings.ru/images/uploads/2024/12/the-thing-remastered-boxart-cover.jpg" alt="Скриншоты The Thing: Remastered" title="The Thing: Remastered" width="100" height="75"></li>
                        </ul>
                    </div>
                </div>
                <div class="reviews">
                    <div id="reviews">
                        <h2 id="critics"><span>Обзоры и оценки</span> Критики</h2>
                        <span class="countnum">4</span>
                        <p><a href="/user-reviews/">Оценки и отзывы</a> критиков из обзоров от разных интернет-изданий.</p>

                        <div class="reviews_list">
                            <div id="review-1" class="critic-text mark-8">
                                <div class="review-meta">
                                    <div class="small-score mark-8">
                                        <span data-title="Оценка из 10 баллов" class="tooltip">8</span>
                                    </div>
                                    <div class="review-author"><p><a href="/critics/shacknews/"><span>Shacknews</span></a> Ти Джей Дензер</p></div>
                                </div>
                                <blockquote><p class="quote">По своей концепции и механике The Thing вполне заслуживает внимания любителей и энтузиастов. На самом деле, ничего подобного не существует, и, возможно, это потому, что это было бы трудно сделать хорошо.</p></blockquote>
                                <div class="rew-menu">
                                    <span class="menu-dot"></span><span class="menu-dot"></span><span class="menu-dot"></span>
                                    <ul>
                                        <li><a class="complain" rel="nofollow" href="/zhaloba/?c=https://www.shacknews.com/article/142422/the-thing-remastered-review-score">Пожаловаться на отзыв</a></li>
                                    </ul>
                                </div>
                                <a class="allreviews" href="/click/?site=https://www.shacknews.com/article/142422/the-thing-remastered-review-score" rel="nofollow noopener" target="_blank">Читать обзор полностью</a>
                            </div>
                            <div id="review-2" class="critic-text mark-7">
                                <div class="review-meta">
                                    <div class="small-score mark-7">
                                        <span data-title="Оценка из 10 баллов" class="tooltip">7</span>
                                    </div>
                                    <div class="review-author"><p><a href="/critics/techraptor/"><span>TechRaptor</span></a> Остин Сатер</p></div>
                                </div>
                                <blockquote><p class="quote">Выглядит фантастически и обладает всеми достоинствами, которые только можно ожидать от ремастера. В продолжении культового фильма 1982 года сюжет мне не очень понравился, а геймплей, в основном за счет компаньонов с искусственным...</p></blockquote>
                                <div class="rew-menu">
                                    <span class="menu-dot"></span><span class="menu-dot"></span><span class="menu-dot"></span>
                                    <ul>
                                        <li><a class="complain" rel="nofollow" href="/zhaloba/?c=https://techraptor.net/gaming/reviews/thing-remastered-review-macready-to-rumble">Пожаловаться на отзыв</a></li>
                                    </ul>
                                </div>
                                <a class="allreviews" href="/click/?site=https://techraptor.net/gaming/reviews/thing-remastered-review-macready-to-rumble" rel="nofollow noopener" target="_blank">Читать обзор полностью</a>
                            </div>
                            <div id="review-3" class="critic-text mark-6">
                                <div class="review-meta">
                                    <div class="small-score mark-6">
                                        <span data-title="Оценка из 10 баллов" class="tooltip">6</span>
                                    </div>
                                    <div class="review-author"><p><a href="/critics/gamespot/"><span>GameSpot</span></a> Ричард Вейкелинг</p></div>
                                </div>
                                <blockquote><p class="quote">Заново представляет собой несовершенную, но увлекательную игру, с обновленными визуальными эффектами и рядом важнейших улучшений...</p></blockquote>
                                <div class="rew-menu">
                                    <span class="menu-dot"></span><span class="menu-dot"></span><span class="menu-dot"></span>
                                    <ul>
                                        <li><a class="complain" rel="nofollow" href="/zhaloba/?c=https://www.gamespot.com/reviews/the-thing-remastered-review-cold-fear/1900-6418323/?ftag=CAD-01-10abi2f">Пожаловаться на отзыв</a></li>
                                    </ul>
                                </div>
                                <a class="allreviews" href="/click/?site=https://www.gamespot.com/reviews/the-thing-remastered-review-cold-fear/1900-6418323/?ftag=CAD-01-10abi2f" rel="nofollow noopener" target="_blank">Читать обзор полностью</a>
                            </div>
                            <div id="review-4" class="critic-text mark-6">
                                <div class="review-meta">
                                    <div class="small-score mark-6">
                                        <span data-title="Оценка из 10 баллов" class="tooltip">5.5</span>
                                    </div>
                                    <div class="review-author"><p><a href="/critics/destructoid/"><span>Destructoid</span></a> Зои Хэндли </p></div>
                                </div>
                                <blockquote><p class="quote">Это завораживающее скопление ошибок и совершенно неубедительная копия исходного материала. Но от него трудно отвести взгляд, когда он переворачивается наизнанку.</p></blockquote>
                                <div class="rew-menu">
                                    <span class="menu-dot"></span><span class="menu-dot"></span><span class="menu-dot"></span>
                                    <ul>
                                        <li><a class="complain" rel="nofollow" href="/zhaloba/?c=destructoid">Сообщить о проблеме</a></li>
                                    </ul>
                                </div>
                                <a class="allreviews" href="/click/?site=destructoid" rel="nofollow noopener" target="_blank">Читать обзор полностью</a>
                            </div>
                        </div>
                    </div>
                    <div itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                        <meta itemprop="reviewCount" content="4">
                        <meta itemprop="ratingCount" content="4">
                        <meta itemprop="bestRating" content="10">
                        <meta itemprop="worstRating" content="1">
                        Общий рейтинг критиков = <span itemprop="ratingValue">6.6</span>
                    </div>
                    <span class="links-add">Добавить обзор</span>
                </div>
                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-5 -->
                    <div id="yandex_rtb_R-A-201169-5_2"></div>
                    <script>
                        window.yaContextCb.push(()=>{
                          Ya.Context.AdvManager.render({
                            renderTo: "yandex_rtb_R-A-201169-5_2",
                            blockId: "R-A-201169-5"
                          })
                        })</script>
                </div>
                <div class="user-reviews comments">
                    <div id="comments">
                        <h2 id="users"><span>Отзывы и оценки</span> Игроки</h2>
                        <span class="countnum">0</span>
                        <p>Если вы уже поиграли в игру, расскажите, что вы о ней думаете. Расскажите о ее сильных и слабых сторонах, о ее плюсах и минусах. Ваш <a href="/user-reviews/">отзыв</a> поможет тем, кто хочет в нее поиграть.</p><div class="reviews-none"><p><a href="/user-reviews/">Отзывов от игроков</a> пока нет.</p></div>
                    </div>
                    <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title"> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/the-thing-remastered/#respond" style="display:none;">Отменить ответ</a></small></h3>
                        <form action="https://metarankings.ru/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                            <div class="commform-author"><p>Ваше имя <span>Обязательно!</span></p><div><input type="text" name="metarankings-name" id="author" tabindex="2" /></div></div>
                            <div class="commform-textarea"><div><div class="count"><span id="count">0</span> (60 символов - минимум)</div><label for="comment"><h2>Ваш отзыв</h2> <span>(не менее 60 символов, без мата, оскорблений, капса и без ссылок на сторонние ресурсы)</span></label><textarea name="metarankings-comm" id="comment" cols="50" rows="7" tabindex="1"></textarea></div></div>												<p class="form-submit">
                                <input name="submit" type="submit" id="submit" value="Отправить" />
                                <input type='hidden' name='comment_post_ID' value='25216' id='comment_post_ID' />
                                <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                            </p>
                        </form>
                    </div><!-- #respond -->
                    <script type="text/javascript">
                        setInterval(ShowCount, 390); function ShowCount(){var Count = document.getElementById('comment').value.length; document.getElementById('count').innerHTML = Count;}
                    </script>
                </div>
            </div>
            <div class="ads-horizont hor-1">
                <div id="yandex_rtb_R-A-201169-26"></div>
                <script>
                    window.yaContextCb.push(()=>{
                        Ya.Context.AdvManager.render({
                            "blockId": "R-A-201169-26",
                            "renderTo": "yandex_rtb_R-A-201169-26"
                        })
                    })
                </script>
            </div>
            <div class="list clear similar">
                <h2>Похожие игры на The Thing: Remastered</h2>
                <a href="https://metarankings.ru/sorry-were-closed/" title="Sorry We&#8217;re Closed">
                    <div class="featured-image">
                        <img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/sorry-were-closed-boxart-cover-196x281.jpg" alt="Sorry We&#8217;re Closed">
                        <div class="small-score mark-7">6.7</div>
                        <span>Sorry We&#8217;re Closed</span>
                    </div>
                </a>
                <a href="https://metarankings.ru/slitterhead/" title="Slitterhead">
                    <div class="featured-image">
                        <img class="post-image" src="https://metarankings.ru/images/uploads/2024/11/slitterhead-boxart-cover-196x281.jpg" alt="Slitterhead">
                        <div class="small-score mark-6">5.7</div>
                        <span>Slitterhead</span>
                    </div>
                </a>
                <a href="https://metarankings.ru/a-quiet-place-the-road-ahead/" title="A Quiet Place: The Road Ahead">
                    <div class="featured-image">
                        <img class="post-image" src="https://metarankings.ru/images/uploads/2024/10/a-quiet-place-the-road-ahead-boxart-cover-196x281.jpg" alt="A Quiet Place: The Road Ahead">
                        <div class="small-score mark-6">6.2</div>
                        <span>A Quiet Place: The Road Ahead</span>
                    </div>
                </a>
                <a href="https://metarankings.ru/game-silent-hill-2-remake/" title="Silent Hill 2">
                    <div class="featured-image">
                        <img class="post-image" src="https://metarankings.ru/images/uploads/2023/03/silent-hill-2-remake-boxart-cover-196x281.jpg" alt="Silent Hill 2">
                        <div class="small-score mark-8">8.1</div>
                        <span>Silent Hill 2</span>
                    </div>
                </a>
                <a href="https://metarankings.ru/the-casting-of-frank-stone/" title="The Casting of Frank Stone">
                    <div class="featured-image">
                        <img class="post-image" src="https://metarankings.ru/images/uploads/2024/09/the-casting-of-frank-stone-boxart-cover-196x281.jpg" alt="The Casting of Frank Stone">
                        <div class="small-score mark-6">6.5</div>
                        <span>The Casting of Frank Stone</span>
                    </div>
                </a>
                <a href="https://metarankings.ru/sylvio-black-waters/" title="Sylvio: Black Waters">
                    <div class="featured-image">
                        <img class="post-image" src="https://metarankings.ru/images/uploads/2024/07/sylvio-black-waters-boxart-cover-196x281.jpg" alt="Sylvio: Black Waters">
                        <div class="small-score mark-0">0</div>
                        <span>Sylvio: Black Waters</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="sidebar rcol">
            <div class="widget">
                <div class="widget-body">
                    <ul>

                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/indiana-jones-and-the-great-circle/">Indiana Jones and the Great Circle</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/stalker-2/">S.T.A.L.K.E.R. 2: Heart of Chernobyl</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/dragon-age-the-veilguard/">Dragon Age: The Veilguard</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/call-of-duty-black-ops-6/">Call of Duty: Black Ops 6</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/game-silent-hill-2-remake/">Silent Hill 2</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/the-legend-of-zelda-echoes-of-wisdom/">The Legend of Zelda: Echoes of Wisdom</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/astro-bot/">Astro Bot</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/star-wars-outlaws/">Star Wars Outlaws</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/black-myth-wukong/">Black Myth: WuKong</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="https://metarankings.ru/senuas-saga-hellblade-2/">Senua’s Saga: Hellblade 2</a></span>
                            </div>
                        </li>
                        <li class="recent-reviews">
                            <div class="ureview-text">
                                <span class="title-reviews"><a href="/user-reviews/">Последние отзывы</a></span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public DetailsComponentItem DetailsComponentItem { get; set; }

    [Parameter]
    public string Title { get; set; }

    protected override async Task OnInitializedAsync()
    {
        DetailsComponentItem = await HttpClient.GetFromJsonAsync<DetailsComponentItem>($"api/GamesDetailsPage/{Title}");
    }
}
