<div class="news-item">
    <a href="@Href" title="@Title"><img class="news-thumb" src="@ImageSource" alt="@ImageAlt"></a>
    <span class="news-title"><a href="@Href">@Title</a></span>
    <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>
</div>