<div class="item">
    <a href="@Href" title="@Title"><img class="post-image" src="@ImageSource" alt="@ImageAlt"></a>
    <span class="item-name"><a href="@Href">@ItemName</a></span>
    <span class="item-meta">
        @foreach (KeyValuePair<string, string> platform in Platforms)
        {
            <a href="@platform.Key">@platform.Value</a>
        }
    </span>
    <span class="item-meta">
        @foreach (KeyValuePair<string, string> genre in Genres)
        {
            <a href="@genre.Key">@genre.Value</a>
        }
    </span>
    <span class="item-meta">@ReleaseDate.ToString("dd MMMM yyyy")</span>
</div>