@page "/movies/collections"

@using Domain.Movies.Collections

<div id="loop" class="news list">
    @if (MoviesCollections is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <AuthorizeView Policy="Admin">
            <Authorized>
                <div>
                    <a href="/admin/movies/collections/add-collection">Добавить подборку</a>
                </div>
            </Authorized>
        </AuthorizeView>
        @foreach (MoviesCollection item in MoviesCollections)
        {
            <div class="post clear">
                <a href="/movies/collections/@item.Id" title="@item.Name" class="news-thumb">
                    <img class="news-image" src="@item.ImageSource" alt="@item.Name">
                </a>

                <a class="news-title" href="/movies/collections/@item.Id">@item.Name</a>
                <div class="post-content">@item.Description</div>
                <div class="rubrika"><a href="https://metarankings.ru/meta/collections/films-games/">Контент</a></div>

                <AuthorizeView Policy="Admin">
                    <Authorized>
                        <div style="display:flex">
                            <a href="/admin/movies/collections/@item.Id/manage-collection/">Управление подборкой</a>
                        </div>
                        <div style="display:flex">
                            <a @onclick="(() => DeleteCollectionAsync(item.Id))">Удалить</a>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </div>
        }
    }
</div>
