@using System.Globalization
@using Umbraco.Cms.Core.Models
@inherits UmbracoViewPage<GameDetailsPageModel>

<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="manifest" href="/manifest.json">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@Model.GameName (игра @Model.ReleaseDate.Year) — отзывы игроков, обзоры критиков, оценки, рейтинг</title>
    <link rel="icon" href="/favicon.png" type="image/png" />
    <link rel='stylesheet' href='~/css/style.css' type='text/css' media='all' />
    <script type='text/javascript' src='~/js/jquery.js'></script>
    <script type='text/javascript' src='~/js/jquery-migrate.min.js'></script>
    <meta name="description" content="Игра Terminator: Dark Fate - Defiance - отзывы игроков, обзоры критиков, дата выхода, подробное описание, рейтинг, трейлер, оценки пользователей и платформы" />

    <link rel="canonical" href="@this.Url" />
    <meta name="theme-color" content="#fff" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="MetaRankings">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="32x32" href="~/images/apple-touch-icon-32x32.png" />
    <link rel="apple-touch-icon" sizes="16x16" href="~/images/apple-touch-icon-16x16.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@MetaRankings" />
    <meta property="og:title" content="@Model.GameName — отзывы игроков, обзоры критиков, оценки, рейтинг" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="@this.Url" />
    <meta property="og:image" content="@Model.ImageSource" />
    <meta property="og:site_name" content="MetaRankings" />
    <script>window.yaContextCb = window.yaContextCb || []</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
    <script src="https://aflt.market.yandex.ru/widget/script/api" async></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9064246890106061"
            crossorigin="anonymous"></script>
</head>
<body>
    @{
        string mark = string.Empty;
        int gamePlayersReviewsModelsWithScoreCount = Model.GamePlayersReviewsModels.Where(a => a.Score.HasValue).Count();
        int gameJournalistsCompanyReviewsModelsCount = Model.GameJournalistsCompanyReviewsModels.Count();
        double averagePlayersScore = 0;
        double averageGameJournalistsScore = 0;
        int averagePlayersScoreForStyles = 0;
        int averageGameJournalistsScoreForStyles = 0;
        double metarating = 0;
        double metaratingForStyles = 0;
        if (gamePlayersReviewsModelsWithScoreCount > 0)
        {
            averagePlayersScore = Math.Round(Model.GamePlayersReviewsModels.Where(a => a.Score.HasValue).Average(a => a.Score.Value), 1);
            averagePlayersScoreForStyles = Convert.ToInt32(Math.Round(averagePlayersScore, 0));
        }
        if (gameJournalistsCompanyReviewsModelsCount > 0)
        {
            averageGameJournalistsScore = Math.Round(Model.GameJournalistsCompanyReviewsModels.Where(a => a.Score.HasValue).Average(a => a.Score.Value), 1);
            averageGameJournalistsScoreForStyles = Convert.ToInt32(Math.Round(averageGameJournalistsScore, 0));
        }
        metarating = Math.Round((averagePlayersScore + averageGameJournalistsScore) / 2,1);
        metaratingForStyles = Math.Round(metarating);
    }
    <div class="headerer">
        <div class="header-bottom">
            <div class="header clear nav-menu">
                <div class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="logo">
                    <a href="/"><span>Meta</span>Rankings</a>
                </div>
                <div class="nav">
                    <ul>
                        <li>
                            <span onclick="jQuery( document ).ready(function($){$('.movie-drop').slideToggle('slow')});"><a href="best-movies/">Фильмы</a></span>
                            <div class="movie-drop">
                                @foreach (Link url in Model.BaseDetailsPageModel.MoviesKindsPagesUrls)
                                {
                                    <a href="@url.Url.Replace("year", Model.ReleaseDate.Year.ToString())">@url.Name.Replace("year", Model.ReleaseDate.Year.ToString())</a>
                                }
                            </div>
                        </li>
                        <li class="active">
                            <span onclick="jQuery( document ).ready(function($){$('.game-drop').slideToggle('slow')});"><a href="best-games/">Игры</a></span>
                            <div class="game-drop">
                                @foreach (Link url in Model.BaseDetailsPageModel.GamesKindsPagesUrls)
                                {
                                    <a href="@url.Url.Replace("year", Model.ReleaseDate.Year.ToString())">@url.Name.Replace("year", Model.ReleaseDate.Year.ToString())</a>
                                }
                            </div>
                        </li>
                        <li>
                            <a href="#">@Model.BaseDetailsPageModel.CollectionsURL.Name</a>
                        </li>
                        <li>
                            <a href="#">@Model.BaseDetailsPageModel.ReviewsURL.Name</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_login">
                    <ul>
                        <li><span class="user-login popauthor" title="Войти на сайт"></span></li>
                    </ul>
                </div><div class="search_form">
                    <form method="get" id="searchform" action="https://metarankings.ru/search/">
                        <fieldset>
                            <input name="text" type="search" id="search" placeholder="Название игры или фильма..." autocomplete="off" />
                            <button type="submit"></button>
                        </fieldset>
                    </form>
                    <div id="search_form-result"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">

        <div class="game-menu">
            <div class="platform-menu">
                <ul>
                    <li>
                        <a class="bst" href="best-games-2023">Лучшие игры 2023</a>
                    </li>
                    <li>
                        <a class="bst" href="best-games-2022">2022</a>
                    </li>
                    <li>
                        <a class="mnew" href="new-games">Новые игры</a>
                    </li>
                    <li>
                        <a href="release-date">Дата выхода игр</a>
                    </li>
                    <li>
                        <a href="most-waiting-games">Самые ожидаемые игры</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="container" class="clear">
            <div class="sidebar">

                <div class="widget">
                    <div class="widget-body">
                        <div class="graph">
                            <h3>Рейтинг <a href="#critics">критиков</a> на основе @Model.GameJournalistsCompanyReviewsModels.Count() обзора</h3>
                            <div class="graph-body"><div class="rating-graph mark-@averageGameJournalistsScoreForStyles" style="width:@(averageGameJournalistsScore*10)%"><span class="score-graph">@averageGameJournalistsScore</span></div></div>
                            <h3>Рейтинг <a href="#users">игроков</a> на основе @Model.GamePlayersReviewsModels.Count() оценок</h3>
                            <div class="graph-body"><div class="rating-graph mark-@averagePlayersScoreForStyles" style="width:@(averagePlayersScore*10)%"><span class="score-graph">@averagePlayersScore</span></div></div>
                            <span>Метарейтинг</span> <span class="metaranking">?</span>
                            <div class="graph-body"><div class="rating-graph mark-@metaratingForStyles" style="width:@(metaratingForStyles*10)%"><span class="score-graph">@metaratingForStyles</span></div></div>
                            <div class="wait-stat">Ожидания: 2%</div>
                            <div class="graph-body"><div class="rating-wait mark-0" style="width:2%"></div></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content" class="lcol">
                <div class="entry" itemscope itemtype="http://schema.org/Game">
                    <div class="post single clear game" id="post_23382">
                        <div class="post-meta">
                            <h1><span itemprop="name">@Model.GameName</span></h1>
                            <link itemprop="url" href="@this.Url">
                            <meta itemprop="datePublished" content="@Model.CreateDate.ToString("yyyy-MM-dd")">
                        </div>
                        <div id="tcontent">
                            <div class="video-content">
                                <div id="content-trailer">
                                    <iframe title="Трейлер @Model.GameName" src="https://www.youtube.com/embed/RtxXcWC_1sw" height="280" width="100%" allowfullscreen="" style="border-width:0"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="thumb">
                                <img class="post-image" src="@Model.ImageSource" alt="Обложка игры @Model.GameName" title="Игра @Model.GameName" itemprop="image">
                                <div class="watch-trailer">
                                    <h3><span class="twatch"><span class="p-twatch">Трейлер</span></span></h3>
                                </div>
                            </div>
                            <div id="ratings" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
                                @{
                                    int bestRating;
                                    int worstRating;

                                    var gameJournalistsCompanyReviewsModelsWithScore = Model.GameJournalistsCompanyReviewsModels.Where(a => a.Score.HasValue);

                                    var gamePlayersReviewsModelsWithScore = Model.GamePlayersReviewsModels.Where(a => a.Score.HasValue);

                                    float bestGameJournalistsCompanyReviewsModelsRating = 0;
                                    float worstGameJournalistsCompanyReviewsModelsRating = 0;
                                    if (gameJournalistsCompanyReviewsModelsWithScore != null)
                                    {
                                        if (gameJournalistsCompanyReviewsModelsWithScore.Count() > 0)
                                        {
                                            bestGameJournalistsCompanyReviewsModelsRating = gameJournalistsCompanyReviewsModelsWithScore.Max(a => a.Score.Value);
                                            worstGameJournalistsCompanyReviewsModelsRating = gameJournalistsCompanyReviewsModelsWithScore.Min(a => a.Score.Value);
                                        }
                                    }
                                    float bestGamePlayersReviewsModelsRating = 0;
                                    float worstGamePlayersReviewsModelsRating = 0;

                                    if (gamePlayersReviewsModelsWithScore != null)
                                    {
                                        if (gamePlayersReviewsModelsWithScore.Count() > 0)
                                        {
                                            bestGamePlayersReviewsModelsRating = gamePlayersReviewsModelsWithScore.Max(a => a.Score.Value);
                                            worstGamePlayersReviewsModelsRating = gamePlayersReviewsModelsWithScore.Min(a => a.Score.Value);
                                        }
                                    }
                                    bestRating = Convert.ToInt32(Math.Max(bestGamePlayersReviewsModelsRating, bestGameJournalistsCompanyReviewsModelsRating));
                                    worstRating = Convert.ToInt32(Math.Max(worstGameJournalistsCompanyReviewsModelsRating, worstGamePlayersReviewsModelsRating));

                                    if (gameJournalistsCompanyReviewsModelsWithScore == null)
                                    {
                                        gameJournalistsCompanyReviewsModelsWithScore = Enumerable.Empty<GameJournalistsCompanyReviewModel>();
                                    }
                                    if (gamePlayersReviewsModelsWithScore == null)
                                    {
                                        gamePlayersReviewsModelsWithScore = Enumerable.Empty<GamePlayerReviewModel>();
                                    }
                                    int ratingsCount = gameJournalistsCompanyReviewsModelsWithScore.Count() + gamePlayersReviewsModelsWithScore.Count();
                                }
                                <meta itemprop="bestRating" content="@bestRating">
                                <meta itemprop="worstRating" content="@worstRating">
                                <meta itemprop="ratingCount" content="@ratingsCount">
                                <div class="ratings mark-@metaratingForStyles">
                                    <div id="post-ratings-23382" class="post-ratings" data-nonce="2c8e283591">
                                        <div class="rating">
                                            <div class="score" itemprop="ratingValue">
                                                @metarating
                                            </div>
                                            Оценки: <span>@(gameJournalistsCompanyReviewsModelsCount + gamePlayersReviewsModelsWithScoreCount)</span>
                                        </div>
                                        <div class="your-score">
                                            <img id="rating_23382_1" class="rating-on mark-1" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="1" onmouseover="current_rating(23382, 1, '1');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_2" class="rating-on mark-2" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="2" onmouseover="current_rating(23382, 2, '2');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_3" class="rating-on mark-3" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="3" onmouseover="current_rating(23382, 3, '3');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_4" class="rating-on mark-4" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="4" onmouseover="current_rating(23382, 4, '4');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_5" class="rating-on mark-5" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="5" onmouseover="current_rating(23382, 5, '5');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_6" class="rating-on mark-6" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_off.gif" alt="6" onmouseover="current_rating(23382, 6, '6');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_7" class="rating-on mark-7" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_off.gif" alt="7" onmouseover="current_rating(23382, 7, '7');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_8" class="rating-on mark-8" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_off.gif" alt="8" onmouseover="current_rating(23382, 8, '8');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_9" class="rating-on mark-9" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_off.gif" alt="9" onmouseover="current_rating(23382, 9, '9');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /><img id="rating_23382_10" class="rating-on mark-10" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_off.gif" alt="10" onmouseover="current_rating(23382, 10, '10');" onmouseout="ratings_off(5.1, 0, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;" /> <span class="post-ratings-text" id="ratings_23382_text">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="featured-game">
                                <p>
                                    @{
                                        string developer = Model.Developers.Count() > 1 ? "Разработчики" : "Разработчик";
                                    }
                                    <span class="label">@developer:</span>
                                    @foreach (Link developerLink in Model.Developers)
                                    {
                                        <a href="@developerLink.Url">@developerLink.Name</a>
                                    }
                                </p>
                                <p><span class="label">Издатель:</span> <a href="@Model.Publisher.Url">@Model.Publisher.Name</a> </p>
                                <p>
                                    <span class="label">Платформы:</span> @{
                                        foreach (Link link in Model.Platforms)
                                        {
                                            <a href="@link.Url">@link.Name</a>
                                        }
                                    }
                                </p>
                                <p>
                                    <span class="label">Жанр:</span> @{
                                        foreach (Link link in Model.Genres)
                                        {
                                            <a href="@link.Url">@link.Name</a>
                                        }
                                    }
                                <p><span class="label">Локализация:</span> <a href="https://metarankings.ru/igry-na-russkom-yazyke/">@Model.Localization</a></p>
                                <p><span class="label">Дата выхода:</span> <span class="release-date">@Model.ReleaseDate.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"))</span></p>
                            </div>

                            <div class="description">
                                <h2>Описание</h2>
                                <div itemprop="description">
                                    <p>@Model.Description</p>
                                </div>

                            </div>

                            <div class="podborki">
                                <p>
                                    @foreach (string tag in Model.Tags)
                                    {
                                        <a href="#">@tag</a>
                                    }
                                </p>
                            </div>
                        </div>
                        <div class="ads-horizont hor-1">
                            <!-- Yandex.RTB R-A-201169-7 -->
                            <div id="yandex_rtb_R-A-201169-7-1"></div>
                            <script>
                                window.yaContextCb.push(() => {
                                    Ya.Context.AdvManager.render({
                                        renderTo: 'yandex_rtb_R-A-201169-7-1',
                                        blockId: 'R-A-201169-7'
                                    })
                                })</script>
                        </div>
                        <div class="share">
                            <div class="share-text">Поделитесь с друзьями в социальных сетях</div>
                            <span class="vko" onclick="window.open('/click.php?https://vk.com/share.php?url=https://metarankings.ru/terminator-dark-fate-defiance/', 'newwindow','width=200,height=150'); return false;"></span>
                            <span class="tw" onclick="window.open('/click.php?https://twitter.com/share?url=https://metarankings.ru/terminator-dark-fate-defiance/&amp;text=Terminator%3A+Dark+Fate+%26%238212%3B+Defiance+-+отзывы,+оценки,+обзоры+и+рейтинг+-+', 'newwindow','width=500,height=300'); return false;"></span>
                            <span class="odn" onclick="window.open('/click.php?https://connect.ok.ru/offer?url=https://metarankings.ru/terminator-dark-fate-defiance/&title=Terminator%3A+Dark+Fate+%26%238212%3B+Defiance', 'newwindow','width=550,height=350'); return false;"></span>
                        </div>

                        <div class="post-footer">
                            <h2>Трейлер и скриншоты</h2>
                            <div class="video">
                                <img class="img-trailer" alt="Трейлер @Model.GameName" title="Трейлер @Model.GameName" src="https://img.youtube.com/vi/RtxXcWC_1sw/default.jpg" width="100" height="75">
                                <span class="play"></span>
                            </div>
                            <ul class="gallery">
                                <li>
                                    <img class="attachment-screenshot" src="@Model.ImageSource" data-original="@Model.ImageSource" alt="Скриншоты @Model.GameName" title="@Model.GameName" width="100" height="75">
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="videoreviews" class="video-reviews">
                        <h3>Видеообзоры</h3>
                        <p>Видеообзоры от Youtube-блогеров. Вы можете добавить свое или найденное видео.</p>
                        <div class="add-videos">
                            +
                            <div class="author-video">
                                Добавить видео
                            </div>
                        </div>
                    </div>
                    <div class="ads-horizont hor-1">
                    </div>
                    <div class="reviews">
                        <div id="reviews">
                            <h2 id="critics">Отзывы и оценки критиков <span>@Model.GameName</span></h2>
                            <div class="reviews_list">
                                <p>Ниже собраны отзывы и оценки разных интернет-изданий с цитатами из обзоров. Мы не учитываем безоценочные рецензии, так как не умеем определять их исходя из написанного текста и не можем додумывать их за автора. Мы пытаемся составить максимально объективный рейтинг на основе реально выставленных оценок.</p>
                                @foreach (GameJournalistsCompanyReviewModel gameJournalistsCompanyReviewModel in Model.GameJournalistsCompanyReviewsModels)
                                {
                                    mark = (gameJournalistsCompanyReviewModel.Score.HasValue ? Convert.ToInt32(Math.Round(gameJournalistsCompanyReviewModel.Score.Value)) : 0).ToString();
                                    <div class="critic-text mark-@mark">
                                        <div class="review-meta">
                                            @if (gameJournalistsCompanyReviewModel.Score != 0)
                                            {
                                                <div class="small-score mark-@mark">

                                                    <span data-title="Оценка отзыва из 10 баллов" class="tooltip"> @gameJournalistsCompanyReviewModel.Score</span>
                                                </div>
                                            }
                                            <div class="review-author"><p><a href="/critics/cubiq/"><span>@gameJournalistsCompanyReviewModel.JournalistsCompanyName</span></a> Отзыв: @gameJournalistsCompanyReviewModel.AuthorName</p></div>
                                        </div>
                                        <p>@gameJournalistsCompanyReviewModel.Text</p>
                                        <a rel="nofollow" class="allreviews" href="/click/?site=https://cubiq.ru/terminator-dark-fate-defiance-review/" target="_blank">›</a>
                                    </div>
                                }
                            </div>
                        </div>
                        <div>
                            Общий рейтинг критиков = <span>@averageGameJournalistsScore</span>
                        </div>
                        <span class="links-add">Добавить обзор</span>
                    </div>
                    <div class="ads-horizont hor-1">
                        <!-- Yandex.RTB R-A-201169-5 -->
                        <div id="yandex_rtb_R-A-201169-5_2"></div>
                        <script>
                            window.yaContextCb.push(() => {
                                Ya.Context.AdvManager.render({
                                    renderTo: "yandex_rtb_R-A-201169-5_2",
                                    blockId: "R-A-201169-5"
                                })
                            })</script>
                    </div>
                    <div class="user-reviews comments">
                        <div id="comments">
                            <h2 id="users">Отзывы и оценки игроков <span>@Model.GameName</span></h2>
                            @if (!Model.GamePlayersReviewsModels.Any())
                            {
                                <div class="reviews-none"><p>Отзывов от игроков пока нет. Вы можете стать первым(ой), добавив свой.  Если вы уже в нее играли, расскажите, что вы о ней думаете. Расскажите о ее сильных и слабых сторонах, о ее плюсах и минусах. Это будет полезно знать другим людям, которые хотят в нее поиграть. Перед написанием ознакомьтесь с <a rel="nofollow" href="/polzovatelskoe-soglashenie/#bans">нашими правилами</a>.</p></div>
                            }
                            else
                            {
                                <p>Если вы уже поиграли в игру, расскажите, что вы о ней думаете. Расскажите о ее сильных и слабых сторонах, о ее плюсах и минусах. Это будет полезно знать другим людям, которые хотят в нее поиграть. Перед написанием отзыва ознакомьтесь с <a rel="nofollow" href="/polzovatelskoe-soglashenie/#bans">нашими правилами</a>.</p>
                                <div class="comment_list">
                                    <ol>
                                        @foreach (GamePlayerReviewModel gamePlayerReviewModel in Model.GamePlayersReviewsModels)
                                        {
                                            @if (gamePlayerReviewModel.Score == 1)
                                            {
                                                mark = "mark-1";
                                            }
                                            else if (gamePlayerReviewModel.Score == 9)
                                            {
                                                mark = "mark-9";
                                            }
                                            else if (gamePlayerReviewModel.Score == 0)
                                            {
                                                mark = "mark-0";
                                            }
                                            <li class="@mark">
                                                <div>
                                                    <div class="ureview-text">
                                                        <div class="comment-meta">
                                                            @if (gamePlayerReviewModel.Score != 0)
                                                            {
                                                                <div class="small-score @mark">
                                                                    <span data-title="Оценка отзыва из 10 баллов" class="tooltip">@gamePlayerReviewModel.Score</span>
                                                                </div>
                                                            }
                                                            <p class="user-reviews-author comment-author"><span>@gamePlayerReviewModel.CommentAuthor</span></p> <p class="comment-date">
                                                                Отзыв от @gamePlayerReviewModel.PublishDate.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("ru-RU"))
                                                            </p>
                                                            <div class="rating-com">
                                                                <span class="ldc-ul_like" onclick="alter_ul_post_values(this,'2048','c_like')">+ <span>10</span></span><span class="ldc-ul_dislike" onclick="alter_ul_post_values(this,'2048','c_dislike')">- <span>2</span></span>
                                                            </div>
                                                        </div>
                                                        <div class="review-text">
                                                            <p>@gamePlayerReviewModel.Text</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ol>
                                </div>
                            }
                        </div>
                        <div id="respond" class="comment-respond">
                            <h3 id="reply-title" class="comment-reply-title"><span>Добавить отзыв</span> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/terminator-dark-fate-defiance/#respond" style="display:none;">Отменить ответ</a></small></h3>
                            <form action="https://metarankings.ru/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate>
                                <div class="commform-author"><p>Ваше имя <span>Обязательно!</span></p><div><input type="text" name="metarankings-name" id="author" tabindex="2" /></div></div>
                                <div class="commform-textarea"><div><div class="count"><span id="count">0</span> (60 символов - минимум)</div><label for="comment">Ваш отзыв... <span>(не менее 60 символов, без мата, оскорблений, капса и без ссылок на сторонние ресурсы)</span></label><textarea name="metarankings-comm" id="comment" cols="50" rows="7" tabindex="1"></textarea></div></div>												<p class="form-submit">
                                    <input name="submit" type="submit" id="submit" value="Отправить" />
                                    <input type='hidden' name='comment_post_ID' value='23382' id='comment_post_ID' />
                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                </p>
                            </form>
                        </div><!-- #respond -->
                        <script type="text/javascript">
                            setInterval(ShowCount, 390); function ShowCount() { var Count = document.getElementById('comment').value.length; document.getElementById('count').innerHTML = Count; }
                        </script>
                    </div>
                    <div class="ads-horizont hor-1">
                        <script type="text/javascript">
                            (function (w) {
                                function start() {
                                    w.removeEventListener("YaMarketAffiliateLoad", start);
                                    w.YaMarketAffiliate.createWidget({
                                        type: "models",
                                        containerId: "marketWidget",
                                        params: {
                                            clid: 2492732,
                                            searchType: "attractive",
                                            themeId: 4
                                        }
                                    });
                                }
                                w.YaMarketAffiliate
                                    ? start()
                                    : w.addEventListener("YaMarketAffiliateLoad", start);
                            })(window);
                        </script>
                        <div id="marketWidget"></div>
                    </div>
                </div>

                <div class="news-module">
                    <div class="news-item">
                        <a href="https://metarankings.ru/luchshie-igrovye-smartfony-v-2023-2024-godu/" title="Лучшие игровые смартфоны в 2023 &#8212; 2024 году"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2023/01/luchshie-igrovye-smartfony-v-2023-2024-445x250.jpg" alt="Лучшие игровые смартфоны в 2023 &#8212; 2024 году"><span class="news-title">Лучшие игровые смартфоны в 2023 &#8212; 2024 году</span></a>
                    </div>
                    <div class="news-item">
                        <a href="https://metarankings.ru/luchshie-igrovye-naushniki-i-garnitury-v-2022-2023-godu/" title="Лучшие игровые наушники и гарнитуры в 2022-2023 году"><img class="news-thumb" src="https://metarankings.ru/images/uploads/2022/06/luchshie-igrovye-naushniki-v-2022-2023-445x250.jpg" alt="Лучшие игровые наушники и гарнитуры в 2022-2023 году"><span class="news-title">Лучшие игровые наушники и гарнитуры в 2022-2023 году</span></a>
                    </div>
                </div>

                <div class="list clear similar">
                    <h2>Похожие игры</h2>
                    <a href="https://metarankings.ru/terminator-resistance-annihilation-line/" title="Terminator: Resistance — Annihilation Line">
                        <div class="featured-image">
                            <img class="post-image" src="https://metarankings.ru/images/uploads/2021/12/terminator-resistance-annihilation-line-box-art-cover-196x281.jpeg" alt="Terminator: Resistance — Annihilation Line">
                            <div class="small-score mark-0">0</div>
                            <span>Terminator: Resistance — Annihilation Line</span>
                        </div>
                    </a>
                    <a href="https://metarankings.ru/terminator-resistance/" title="Terminator Resistance">
                        <div class="featured-image">
                            <img class="post-image" src="https://metarankings.ru/images/uploads/terminator-resistance-box-art-cover-195x281.jpg" alt="Terminator Resistance">
                            <div class="small-score mark-7">7.4</div>
                            <span>Terminator Resistance</span>
                        </div>
                    </a>
                    <a href="https://metarankings.ru/skull-bones/" title="Skull and Bones">
                        <div class="featured-image">
                            <img class="post-image" src="https://metarankings.ru/images/uploads/2022/11/skull-bones-boxart-cover-196x281.jpg" alt="Skull and Bones">
                            <div class="small-score mark-6">5.6</div>
                            <span>Skull and Bones</span>
                        </div>
                    </a>
                    <a href="https://metarankings.ru/stargate-timekeepers/" title="Stargate: Timekeepers">
                        <div class="featured-image">
                            <img class="post-image" src="https://metarankings.ru/images/uploads/2024/01/stargate-timekeepers-boxart-cover-200x268.jpg" alt="Stargate: Timekeepers">
                            <div class="small-score mark-0">0</div>
                            <span>Stargate: Timekeepers</span>
                        </div>
                    </a>
                    <a href="https://metarankings.ru/the-universim/" title="The Universim">
                        <div class="featured-image">
                            <img class="post-image" src="https://metarankings.ru/images/uploads/2024/01/the-universim-193x281.jpg" alt="The Universim">
                            <div class="small-score mark-0">0</div>
                            <span>The Universim</span>
                        </div>
                    </a>
                    <a href="https://metarankings.ru/war-hospital/" title="War Hospital">
                        <div class="featured-image">
                            <img class="post-image" src="https://metarankings.ru/images/uploads/2024/01/war-hospital-cover-art-196x281.jpg" alt="War Hospital">
                            <div class="small-score mark-6">5.5</div>
                            <span>War Hospital</span>
                        </div>
                    </a>
                    <a href="https://metarankings.ru/steamworld-build/" title="SteamWorld Build">
                        <div class="featured-image">
                            <img class="post-image" src="https://metarankings.ru/images/uploads/2023/12/steamworld-build-cover-art-196x281.jpg" alt="SteamWorld Build">
                            <div class="small-score mark-6">6.2</div>
                            <span>SteamWorld Build</span>
                        </div>
                    </a>
                    <a href="https://metarankings.ru/persona-5-tactica/" title="Persona 5 Tactica">
                        <div class="featured-image">
                            <img class="post-image" src="https://metarankings.ru/images/uploads/2023/11/persona-5-tactica-cover-art-196x281.jpg" alt="Persona 5 Tactica">
                            <div class="small-score mark-6">6</div>
                            <span>Persona 5 Tactica</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="sidebar rcol">
                <div class="widget">
                    <div class="widget-body">
                        <ul>
                            @foreach (Link rightSideGameLink in Model.RightSideGamesLinks)
                            {
                                <li class="recent-reviews">
                                    <div class="ureview-text">
                                        <span class="title-reviews">
                                            <a href="@rightSideGameLink.Url">@rightSideGameLink.Name</a>
                                        </span>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="podborki">
                            <a href="https://metarankings.ru/best-movies-2024/">Фильмы 2024</a>
                            <a href="https://metarankings.ru/best-games-2024/">Игры 2024</a>
                            <a href="https://metarankings.ru/best-boeviki/2024/">Боевики 2024</a>
                            <a href="https://metarankings.ru/best-comedy/2024/">Комедии 2024</a>
                            <a href="https://metarankings.ru/best-horror/2024/">Ужасы 2024</a>
                            <a href="https://metarankings.ru/best-cartoons/2024/">Мультфильмы 2024</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="footer">
            <script>
                [].forEach.call(document.querySelectorAll('img[data-src]'), function (img) {
                    img.setAttribute('src', img.getAttribute('data-src'));
                    img.onload = function () {
                        img.removeAttribute('data-src');
                    };
                });
            </script>
            <script>
                (function ($) {
                    $(function () {
                        $('.menu-icon').on('click', function () {
                            $(this).closest('.header').toggleClass('menu-open');
                        });
                    });
                })(jQuery);
            </script>
            <script>
                jQuery('#comments').append('<div class="your-score"><p>Ваша оценка</p></div>');
                jQuery(window).scroll(function () {
                    if (jQuery(this).scrollTop() > 1200) {
                        jQuery('#comments').append(jQuery('.ratings'));
                    } else {
                        jQuery('#ratings').append(jQuery('#comments> .ratings'));
                    }
                });
            </script>
            <script>
                jQuery(function ($) {
                    $(window).scroll(function () {
                        if ($(this).scrollTop() >= 90) {
                            $('.header-bottom').addClass('sticky');
                        }
                        else {
                            $('.header-bottom').removeClass('sticky');
                        }
                    });
                });
            </script>
            <script>
                jQuery(document).ready(function ($) {
                    $("#toTop").hide();
                    $(function () {
                        $(window).scroll(function () {
                            if ($(this).scrollTop() > 300) {
                                $('#toTop').fadeIn();
                            } else {
                                $('#toTop').fadeOut();
                            }
                        });
                        $('#toTop').click(function () {
                            $('body,html').animate({
                                scrollTop: 0
                            }, 800);
                            return false;
                        });
                    });
                });
            </script>
            <script type="text/javascript">
                var isProcessing = false;
                function alter_ul_post_values(obj, post_id, ul_type) {

                    if (isProcessing)
                        return;
                    isProcessing = true;

                    jQuery(obj).find("span").html("..");
                    jQuery.ajax({
                        type: "POST",
                        url: "https://metarankings.ru/wp-content/plugins/like-dislike/ajax_counter.php",
                        data: "post_id=" + post_id + "&up_type=" + ul_type,
                        success: function (msg) {
                            jQuery(obj).find("span").html(msg);
                            isProcessing = false;
                        }
                    });
                }
            </script>
            <script type='text/javascript'>
                /* <![CDATA[ */
                var ratingsL10n = { "plugin_url": "https:\/\/metarankings.ru\/wp-content\/plugins\/wp-postratings", "ajax_url": "https:\/\/metarankings.ru\/wp-admin\/admin-ajax.php", "text_wait": "Please rate only 1 post at a time.", "image": "squares", "image_ext": "gif", "max": "10", "show_loading": "0", "show_fading": "1", "custom": "0" };
                var ratings_mouseover_image = new Image(); ratings_mouseover_image.src = ratingsL10n.plugin_url + "/images/" + ratingsL10n.image + "/rating_over." + ratingsL10n.image_ext;;
                /* ]]> */
            </script>
            <script type='text/javascript' src='https://metarankings.ru/wp-content/plugins/wp-postratings/postratings-js.js'></script>
            <script type='text/javascript' src='https://metarankings.ru/wp-content/themes/metarankings/js/jquery.cycle.all.min.js'></script>
            <script type='text/javascript' src='https://metarankings.ru/wp-content/themes/metarankings/js/script.js'></script>
            <script type='text/javascript' src='https://metarankings.ru/wp-content/themes/metarankings/js/comments.js'></script>
            <!-- Yandex.RTB R-A-201169-20 -->
            <script>
                window.yaContextCb.push(() => {
                    Ya.Context.AdvManager.render({
                        "blockId": "R-A-201169-20",
                        "type": "topAd"
                    })
                })
            </script>

            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-63304078-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() { dataLayer.push(arguments); }
                gtag('js', new Date());

                gtag('config', 'UA-63304078-1');
            </script>

            <script src="https://metarankings.ru/user-ip.php"></script>
            <script type="text/javascript">
                (function (m, e, t, r, i, k, a) {
                    m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
                    m[i].l = 1 * new Date();
                    for (var j = 0; j < document.scripts.length; j++) { if (document.scripts[j].src === r) { return; } }
                    k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
                })
                    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

                ym(57119962, "init", {
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true,
                    webvisor: true,
                    params: { 'ip': userip }
                });
            </script>
            <noscript><div><img src="https://mc.yandex.ru/watch/57119962" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- Rating Mail.ru counter -->
            <script type="text/javascript">
                var _tmr = window._tmr || (window._tmr = []);
                _tmr.push({ id: "2595025", type: "pageView", start: (new Date()).getTime() });
                (function (d, w, id) {
                    if (d.getElementById(id)) return;
                    var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
                    ts.src = "https://top-fwz1.mail.ru/js/code.js";
                    var f = function () { var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s); };
                    if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
                })(document, window, "topmailru-code");
            </script><noscript>
                <div>
                    <img src="https://top-fwz1.mail.ru/counter?id=2595025;js=na" style="border:0;position:absolute;left:-9999px;" alt="Top.Mail.Ru" />
                </div>
            </noscript>
            <!-- //Rating Mail.ru counter -->
            <div class="copyright">
                &copy; 2014 - 2024 <span data-title="MetaRankings" class="tooltip">MetaRankings</span>
                <a rel="nofollow" href="/about/" data-title="О сайте" class="tooltip">О нас</a>
                <a rel="nofollow" href="/contact/" data-title="Форма обратной связи" class="tooltip">Связь</a>
                <a rel="nofollow" href="/polzovatelskoe-soglashenie/" data-title="Пользовательское соглашение" class="tooltip">Пользовательское соглашение</a>
                <a rel="nofollow" href="/politika-konfidencialnosti/" data-title="Политика конфиденциальности" class="tooltip">Конфиденциальность</a>
            </div>
            <div class="credits">
                <span class="pegi"><span data-title="Сайт может содержать контент не предназначенный лицам до 18 лет" class="tooltip">18+</span></span>
                <a rel="nofollow" href="/click.php?https://vk.com/metarankings_ru" target="_blank"><span class="vko"></span></a>
                <a rel="nofollow" href="/click.php?https://twitter.com/metarankings" target="_blank"><span class="tw"></span></a>
                <!--LiveInternet counter--><script>
                                               <!--
                                                   document.write("<img src='https://counter.yadro.ru/hit?t44.6;r" +
                                                       escape(document.referrer) + ((typeof (screen) == "undefined") ? "" :
                                                           ";s" + screen.width + "*" + screen.height + "*" + (screen.colorDepth ?
                                                               screen.colorDepth : screen.pixelDepth)) + ";u" + escape(document.URL) +
                                                       ";" + Math.random() +
                                                       "' alt='' title='LiveInternet' " +
                                                       "border='0' width='31' height='31'>")
                                               //--></script><!--/LiveInternet-->
            </div>
        </div>
    </div>
    <div class="wbody" onclick="show('none')"></div>
    <div class="window">
    </div>
    <div class="popup_block">
        <form action="https://metarankings.ru/login.php?redirect_to=https%3A%2F%2Fmetarankings.ru%2Fterminator-dark-fate-defiance%2F" id="loginForm" method="post">
            <div class="field">
                <label>Имя пользователя</label>
                <div class="input">
                    <input type="text" name="log" value="" id="login" />
                </div>
            </div>
            <div class="field">
                <a rel="nofollow" href="https://metarankings.ru/login.php?action=lostpassword" id="forgot">Забыли?</a>
                <label>Пароль</label>
                <div class="input">
                    <input type="password" name="pwd" value="" id="pass" />
                </div>
            </div>
            <div class="submit">
                <button name="submit" type="submit">Войти</button>
                <div class="registr"><a rel="nofollow" href="https://metarankings.ru/login.php?action=register">Регистрация</a></div>
            </div>
        </form>
    </div>
    <div class="window-image">
        <div class="modal-image-wrap">
            <div class="modal-image">
                <div class="modal-left"></div>
                <div class="modal-right"></div>
            </div>
            <img src="" alt="">
        </div>
    </div>
    <div id="toTop" class="toTop">↑</div>
</body>
</html>