@inject HttpClient httpClient
@using Domain

<div class="index-games">
    <h3><a href="https://metarankings.ru/meta/news/igri/">Новости игр</a></h3>
    @foreach (var gameNewComponentItem in GamesNewsComponentsItems)
    {
        <div class="news-item">
            <a href="@gameNewComponentItem.LinkHref" title="@gameNewComponentItem.LinkTitle"><img class="news-thumb" src="@gameNewComponentItem.ImageSrc" alt="@gameNewComponentItem.ImageAlt"></a>
            <span class="news-title"><a href="@gameNewComponentItem.LinkHref">@gameNewComponentItem.LinkTitle</a></span>
        </div>
    }
</div>

@code {
    public IEnumerable<NewsComponentItem> GamesNewsComponentsItems { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        GamesNewsComponentsItems = await httpClient.GetFromJsonAsync<IEnumerable<NewsComponentItem>>("https://localhost:7148/api/mainpage/gamesNewsComponentsItems");
    }
}
<style>
    #search_form-result .index-games, #search_form-result .index-movies, #search_form-result .specials-index .news-item {
        float: none;
        display: block;
        width: 100%;
    }

        #search_form-result .index-games h3 a, #search_form-result .index-movies h3 a, #search_form-result .specials-index h3 a {
            color: #0082ae;
        }

        #search_form-result .index-games .item, #search_form-result .index-movies .item {
            padding: 10px 0;
            border-right: none;
        }

            #search_form-result .index-games .item img, #search_form-result .index-movies .item img, #search_form-result .index-games .item .item-meta, #search_form-result .index-movies .item .item-meta {
                display: none;
            }

    .index-games {
        width: 49.9%;
        float: right;
        margin: 15px 0;
    }


        .index-games a {
            color: #000;
            text-decoration: none;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

            .index-games a:hover {
                color: #0068BF;
            }

        .index-movies h3, .index-games h3, .specials-index h3 {
            color: #333;
            margin-bottom: 10px;
            font-weight: 500;
        }

            .index-movies h3:after, .index-games h3:after, .specials-index h3:after {
                color: #888;
                content: "\203A";
                margin-left: 5px;
            }

            .index-movies h3:hover:after, .index-games h3:hover:after, .specials-index h3:hover:after {
                color: #333;
                margin-left: 7px;
            }

        .index-games .item {
            padding: 10px 0 20px 10px;
        }

        .index-games .news-item {
            margin-left: 2px;
        }

    #search_form-result .item:hover .item-description, #search_form-result .news-item .rubrika {
        display: none;
    }

    #search_form-result .news-item .news-title {
        height: auto;
    }

    #search_form-result .news-item .news-title {
        height: auto;
    }

    .news-item .rubrika {
        left: 10px;
        top: 10px;
    }

        .news-item .rubrika a, .list .post .rubrika a {
            color: #fff;
        }

    .index-movies .news-item {
        margin-right: 2px;
    }

    .index-games .news-item {
        margin-left: 2px;
    }

    .news-item {
        overflow: hidden;
        position: relative;
        border-radius: 4px;
        margin-bottom: 20px;
    }

        .news-item a {
            text-decoration: none;
        }

        .news-item img {
            width: 100%;
            height: auto;
        }

        .news-item .news-title {
            color: #000;
            display: block;
            bottom: 0;
            padding: 5px;
            right: 0;
            left: 0;
            height: 60px;
            overflow: hidden;
            line-height: 1.2;
        }

            .news-item .news-title a {
                color: #000;
                white-space: normal;
                line-height: 1.2;
                text-decoration: none;
            }

    .news-module .news-item {
        width: 49.5%;
        display: inline-block;
    }

        .news-module .news-item:hover {
            opacity: 0.7;
        }

    .specials-index a:hover, .news-item .news-title a:hover {
        color: #0068BF;
    }

    .specials-index .news-item {
        width: 49.6%;
        display: inline-block;
    }

    .news-module .news-item:hover {
        opacity: 0.7;
    }

    .specials-index a:hover, .news-item .news-title a:hover {
        color: #0068BF;
    }

    .specials-index .news-item {
        width: 49.6%;
        display: inline-block;
    }
</style>