@inject HttpClient httpClient
@using Domain

<link href="~/css/app.css" rel="stylesheet" />

<div class="index-games">
    <h3><a href="https://metarankings.ru/meta/news/igri/">Новости игр</a></h3>
    @foreach (var gameNewComponentItem in GamesNewsComponentsItems)
    {
        <div class="news-item">
            <a href="@gameNewComponentItem.LinkHref" title="@gameNewComponentItem.LinkTitle"><img class="news-thumb" src="@gameNewComponentItem.ImageSrc" alt="@gameNewComponentItem.ImageAlt"></a>
            <span class="news-title"><a href="@gameNewComponentItem.LinkHref">@gameNewComponentItem.LinkTitle</a></span>
        </div>
    }
</div>

@code {
    public IEnumerable<NewsComponentItem> GamesNewsComponentsItems { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        GamesNewsComponentsItems = await httpClient.GetFromJsonAsync<IEnumerable<NewsComponentItem>>("https://192.168.1.102:5001/api/mainpage/gamesNewsComponentsItems");
    }
}