@using Domain
@using System.Globalization
@inject HttpClient httpClient

<div class="index-movies">
    <h3><a href="https://metarankings.ru/new-movies/">Новые фильмы</a></h3>
    @foreach (var item in IndexMoviesComponentItems)
    {
        <div class="item">
            <a href="@item.ItemHref" title="@item.Title"><img class="post-image" src="@item.ImageSrc" alt="@item.Title"></a>
            <div class="small-score mark-@Math.Round(item.Score)"><span data-title="Рейтинг фильма" class="tooltip">@item.Score</span></div>
            <span class="item-name"><a href="@item.ItemHref">@item.Title</a></span>
            <span class="item-meta">
                @foreach (var genre in item.Genres)
                {
                    <a href="@genre.Href">@genre.Name</a>
                }
            </span>
            <span class="item-meta"><a rel="nofollow" href="@item.ItemHref#reviews">Рецензии (8)</a> <a rel="nofollow" href="@item.ItemHref#comments">Отзывы (0)</a></span>
            <span class="item-meta">
                @item.ReleaseDate.ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo
                         ("RU-ru"))
            </span>
            <span class="item-description">@item.Description</span>
        </div>
    }
    <div class="title-index">
        <div class="dropdown-menu genre">
            <span class="title">Год</span>
            <ul>
                <li><a href="/best-movies-2024/">Фильмы 2024</a></li>
                <li><a href="/best-movies-2023/">Фильмы 2023</a></li>
                <li><a href="/best-movies-2022/">Фильмы 2022</a></li>
                <li><a href="/best-movies-2021/">Фильмы 2021</a></li>
                <li><a href="/best-movies-2020/">Фильмы 2020</a></li>
                <li><a href="/best-movies-2019/">Фильмы 2019</a></li>
                <li><a href="/best-movies-2018/">Фильмы 2018</a></li>
                <li><a href="/best-movies-2017/">Фильмы 2017</a></li>
            </ul>
        </div>
    </div>
    <a class="allreviews" href="https://metarankings.ru/meta/movies/">Обзоры на фильмы</a><br>
</div>

@code {
    public IEnumerable<IndexMoviesComponentItem> IndexMoviesComponentItems { get; private set; }
    protected override async Task OnInitializedAsync()
    {
        IndexMoviesComponentItems = await httpClient.GetFromJsonAsync<IEnumerable<IndexMoviesComponentItem>>("https://localhost:7148/api/mainpage");
        var a = IndexMoviesComponentItems;
    }
}

<style>
    .index-movies {
        width: 49.9%;
        float: left;
        margin: 15px 0;
    }

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

    div {
        display: block;
        unicode-bidi: isolate;
    }

    body {
        background: #fff;
        font-family: 'Segoe UI', Helvetica, Arial, 'Sans-Serif', fontello;
        line-height: 1;
        text-align: left;
    }
</style>