@using Domain
<div class="index-movies">
    <h3><a class="my-nav-link" href="/games/details/alex">Новые фильмы</a></h3>

    @foreach (NewMovie newMovie in NewMovies)
    {
        <BlazorClient.Components.MainPage.NewMovie Description="@newMovie.Description" ImageHref="@newMovie.ImageHref" Link="@newMovie.Link" ReleaseDate="@newMovie.ReleaseDate" Score="@newMovie.Score" Title="@newMovie.Title" />
    }

    <div class="title-index">
        <div class="dropdown-menu genre">
            <span class="title">Год</span>
            <ul>
                <li><a class="my-nav-link" href="/movies/list/2024">Фильмы 2024</a></li>
                <li><a class="my-nav-link" href="/movies/list/2023">Фильмы 2023</a></li>
                <li><a class="my-nav-link" href="/movies/list/2022">Фильмы 2022</a></li>
                <li><a class="my-nav-link" href="/movies/list/2021">Фильмы 2021</a></li>
                <li><a class="my-nav-link" href="/movies/list/2020">Фильмы 2020</a></li>
                <li><a class="my-nav-link" href="/movies/list/2019">Фильмы 2019</a></li>
                <li><a class="my-nav-link" href="/movies/list/2018">Фильмы 2018</a></li>
                <li><a class="my-nav-link" href="/movies/list/2017">Фильмы 2017</a></li>
            </ul>
        </div>
    </div>
    <a class="allreviews" href="/movies/reviews">Обзоры на фильмы</a><br>
</div>

@code {
    [Parameter]
    public NewMovie[] NewMovies { get; set; }
}