@page "/games/Details/{Id:int}"
@using System.Globalization

<BlazorClient.Components.PagesComponents.Headerer />
<BlazorClient.Components.PagesComponents.GameMenu />

<div class="post single clear game">
    <div class="post-meta">
        <h1><span itemprop="name">@Game.Name</span></h1>
        <meta itemprop="headline" content="@Game.Name">
        <meta itemprop="description" content="@Game.Description">
        <link itemprop="url" href="/games/Details/@Id">
        <meta itemprop="dateCreated" content="@Game.ReleaseDate.Value.Year">
    </div>
    <div class="post-content">
        <div class="thumb">
            <img class="post-image" src="@Game.Image" alt="Игра @Game.Name" title="Игра @Game.Name" itemprop="image">
            <div class="best-prod">
                <span class="star">★</span> Лучшие в @Game.ReleaseDate.Value.Year году <span class="inform">?</span>
            </div>
            <div class="watch-trailer">
                <h3><span class="twatch"><span class="p-twatch">Смотреть трейлер</span></span></h3>
            </div>
        </div>
        <div id="ratings">
            <div class="ratings mark-@Math.Round(Game.Score!.Value)">
                <div id="post-ratings-372" class="post-ratings" data-nonce="95af90afbd">
                    <div class="rating">
                        <div class="score">
                            @Game.Score.Value
                        </div>
                        Оценки: <span>@Game.ScoresCount</span>
                    </div>
                    <div class="your-score">
                        <img id="rating_372_1" class="rating-on mark-1" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="1" onmouseover="current_rating(372, 1, '1');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_2" class="rating-on mark-2" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="2" onmouseover="current_rating(372, 2, '2');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_3" class="rating-on mark-3" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="3" onmouseover="current_rating(372, 3, '3');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_4" class="rating-on mark-4" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="4" onmouseover="current_rating(372, 4, '4');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_5" class="rating-on mark-5" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="5" onmouseover="current_rating(372, 5, '5');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_6" class="rating-on mark-6" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="6" onmouseover="current_rating(372, 6, '6');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_7" class="rating-on mark-7" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="7" onmouseover="current_rating(372, 7, '7');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_8" class="rating-on mark-8" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_on.gif" alt="8" onmouseover="current_rating(372, 8, '8');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_9" class="rating-on mark-9" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_half.gif" alt="9" onmouseover="current_rating(372, 9, '9');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"><img id="rating_372_10" class="rating-on mark-10" src="https://metarankings.ru/wp-content/plugins/wp-postratings/images/squares/rating_off.gif" alt="10" onmouseover="current_rating(372, 10, '10');" onmouseout="ratings_off(8.8, 9, 0);" onclick="rate_post();" onkeypress="rate_post();" style="cursor: pointer;"> <span class="post-ratings-text" id="ratings_372_text" style="display: none;"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-game">
            <BlazorClient.Components.PagesComponents.GameDevelopers Developers="@Game.Developers" />
            <BlazorClient.Components.PagesComponents.GamePublisher Publisher="@Game.Publisher" />
            <BlazorClient.Components.PagesComponents.GamePlatforms Platforms="@Game.Platforms" />
            <BlazorClient.Components.PagesComponents.GenresComponent Genres="@Game.Genres" />
            <p><span class="label">Локализация:</span> <span itemprop="inLanguage"><a>@Game.Localization</a></span></p>
            <p><span class="label">Дата выхода:</span> <span>@Game.ReleaseDate.Value.ToString("dd MMMM yyyy", new CultureInfo("ru-RU"))</span></p>
        </div>

        <div class="description">
            <h3>Описание</h3>
            <div>
                <p>@Game.Description</p>
            </div>

        </div>
        <div class="systems">
            <h2 class="systr" onclick="jQuery( document ).ready(function($){$('.system-info').slideToggle('fast')});">Системные требования</h2>
            <div class="system-info">
                <h3>Минимальные требования:</h3>
                <table class="systems">
                    <tbody>
                        <tr>
                            <td><strong>Операционная система:</strong></td>
                            <td itemprop="operatingSystem">PS4</td>
                        </tr>
                        <tr>
                            <td><strong>Процессор:</strong></td>
                            <td itemprop="processorRequirements">—</td>
                        </tr>
                        <tr>
                            <td><strong>Оперативная память:</strong></td>
                            <td itemprop="memoryRequirements">—</td>
                        </tr>
                        <tr>
                            <td><strong>Видеокарта:</strong></td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td><strong>Место на диске:</strong></td>
                            <td itemprop="storageRequirements">—</td>
                        </tr>
                    </tbody>
                </table>
                <h3>Рекомендуемые требования:</h3>
                <table class="systems">
                    <tbody>
                        <tr>
                            <td><strong>Операционная система:</strong></td>
                            <td>PS4</td>
                        </tr>
                        <tr>
                            <td><strong>Процессор:</strong></td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td><strong>Оперативная память:</strong></td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td><strong>Видеокарта:</strong></td>
                            <td>—</td>
                        </tr>
                        <tr>
                            <td><strong>Место на диске:</strong></td>
                            <td>—</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="podborki">
            <p>
                <a class="mark-link" href="https://metarankings.ru/best-ps4-games/">Топ игры для PS4</a>
                <a class="mark-link" href="https://metarankings.ru/top-igry-priklyucheniya/">приключения</a>
            </p>
        </div>
    </div>
    <div class="ads-horizont hor-1">
        <!-- Yandex.RTB R-A-201169-7 -->
        <div id="yandex_rtb_R-A-201169-7-1" data-2acb0025d4=""><div></div><div data-r-a-201169-7-yandex_rtb_r-a-201169-7-1="" class="csr-uniq3"></div></div>
        @* <script>
            window.yaContextCb.push(()=>{
              Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-201169-7-1',
                blockId: 'R-A-201169-7'
              })
            })</script> *@
    </div>
    <div class="post-footer">
        <h2>Трейлер и скриншоты</h2>
        <div id="tcontent">
            <div class="video-content" itemprop="subjectOf" itemscope="" itemtype="https://schema.org/VideoObject">
                <div id="content-trailer">
                    <meta itemprop="isFamilyFriendly" content="true">
                    <meta itemprop="uploadDate" content="@Game.ReleaseDate">
                    <link itemprop="url" href=@Game.Href>
                    <meta itemprop="name" content="Трейлер The @Game.Name">
                    <meta itemprop="description" content="Трейлер игры @Game.Name">
                    <link itemprop="thumbnail" href="@Game.Image">
                    <link itemprop="thumbnailUrl" href="@Game.Href">
                    <link itemprop="embedUrl" href="@Game.Name">
                    @if (!string.IsNullOrWhiteSpace(Game.Trailer))
                    {
                        <iframe title="Трейлер @Game.Name" src="@Game.Trailer" height="240" width="670" allowfullscreen="" style="border-width:0"></iframe>
                    }
                </div>
            </div>
        </div>
        <ul class="gallery">
            @foreach (var screenshot in Game.Screenshots)
            {
                <li><img class="attachment-screenshot" src="@screenshot.Small" data-original="@screenshot.Original" alt="Скриншоты @Game.Name" title="@Game.Name" width="100" height="75"></li>
            }
        </ul>
    </div>
</div>