@page "/"
@using Domain

<BlazorClient.Components.Headerer />

<div class="wrapper">
    <div class="pager">Лучшие в прошлом месяце </div>
    <div class="progress"></div>
    <div class="slideshow">
        <div id="slideshow" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="7000" data-cycle-slides="> div" data-cycle-pager=".pager">
            <div class="slide clear" data-cycle-pager-template="<span>Фильмы</span>">
                <div class="post">
                    @foreach (ScoredImagedLinkedTitledItem scoredItemImagedLink in ScoredImagedLinkedTitledMovies)
                    {
                        <BlazorClient.Components.MainPage.ScoredItemImagedLink Url="@scoredItemImagedLink.Url" ImageSource="@scoredItemImagedLink.ImageSource" Score="@scoredItemImagedLink.Score" Title="@scoredItemImagedLink.Title" />
                    }
                </div>
            </div>
            <div class="slide clear" data-cycle-pager-template="<span>Игры</span>">
                <div class="post">
                    @foreach (ScoredImagedLinkedTitledItem scoredItemImagedLink in ScoredImagedLinkedTitledGames)
                    {
                        <BlazorClient.Components.MainPage.ScoredItemImagedLink Url="@scoredItemImagedLink.Url" ImageSource="@scoredItemImagedLink.ImageSource" Score="@scoredItemImagedLink.Score" Title="@scoredItemImagedLink.Title" />
                    }
                </div>
            </div>
        </div>
    </div>
    <div id="container" class="clear">
        <div class="sidebar">
        </div>
        <div id="content" class="lcol">
            <div id="loop" class="list clear">
                <div class="index-movies">
                    <h3><a href="https://metarankings.ru/new-movies/">Новые фильмы</a></h3>

                    @foreach (NewMovie newMovie in NewMovies)
                    {
                        <BlazorClient.Components.MainPage.NewMovie Description="@newMovie.Description" ImageHref="@newMovie.ImageHref" Link="@newMovie.Link" ReleaseDate="@newMovie.ReleaseDate" Score="@newMovie.Score" Title="@newMovie.Title" />
                    }

                    <div class="title-index">
                        <div class="dropdown-menu genre">
                            <span class="title">Год</span>
                            <ul>
                                <li><a href="/best-movies-2024/">Фильмы 2024</a></li>
                                <li><a href="/best-movies-2023/">Фильмы 2023</a></li>
                                <li><a href="/best-movies-2022/">Фильмы 2022</a></li>
                                <li><a href="/best-movies-2021/">Фильмы 2021</a></li>
                                <li><a href="/best-movies-2020/">Фильмы 2020</a></li>
                                <li><a href="/best-movies-2019/">Фильмы 2019</a></li>
                                <li><a href="/best-movies-2018/">Фильмы 2018</a></li>
                                <li><a href="/best-movies-2017/">Фильмы 2017</a></li>
                            </ul>
                        </div>
                    </div>
                    <a class="allreviews" href="https://metarankings.ru/meta/movies/">Обзоры на фильмы</a><br>
                </div>

                <div class="index-games">
                    <h3><a href="https://metarankings.ru/new-games/">Новые игры</a></h3>
                    @foreach (NewGame newGame in NewGames)
                    {
                        <BlazorClient.Components.MainPage.NewGame Href="@newGame.Href" Description="@newGame.Description" ImageAlt="@newGame.ImageAlt" ImageSrc="@newGame.ImageSrc" Name="@newGame.Name" ReleaseDate="@newGame.ReleaseDate" />
                    }

                    <BlazorClient.Components.SelectGameYearComponent />
                    <a class="allreviews" href="https://metarankings.ru/meta/games/">Обзоры на игры</a>
                </div>
                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-5 -->
                    <div id="yandex_rtb_R-A-201169-5"></div>
                </div>

                <div class="index-movies">
                    <h3><a href="https://metarankings.ru/meta/news/kino/">Новости кино</a></h3>
                    @foreach (News news in MoviesNews)
                    {
                        <BlazorClient.Components.MainPage.NewsItem Href="@news.Href" Title="@news.Title" ImageSrc="@news.ImageSrc" />
                    }
                </div>

                <div class="index-games">
                    <h3><a href="https://metarankings.ru/meta/news/igri/">Новости игр</a></h3>
                    @foreach (News news in GamesNews)
                    {
                        <BlazorClient.Components.MainPage.NewsItem Href="@news.Href" Title="@news.Title" ImageSrc="@news.ImageSrc" />
                    }
                </div>
                <div class="specials-index">
                    <h3><a href="https://metarankings.ru/meta/collections/">Подборки</a></h3>
                    @foreach (CollectionItem collectionItem in CollectionItems)
                    {
                        <BlazorClient.Components.MainPage.CollectionItem Href="@collectionItem.Href" Title="@collectionItem.Title" ImageSrc="@collectionItem.ImageSrc" />
                    }
                </div>
                <div class="specials-index">
                    <h3><a href="https://metarankings.ru/meta/specials/">Спецматериалы</a></h3>

                    @foreach (SpecialItem specialItem in SpecialItems)
                    {
                        <BlazorClient.Components.MainPage.SpecialsItem Href="@specialItem.Href" Title="@specialItem.Title" ImageAlt="@specialItem.ImageAlt" ImageSrc="@specialItem.ImageSrc" />
                    }
                </div>
                <div class="index-movies">
                    <h3><a href="https://metarankings.ru/coming-soon/">Скоро в кино</a></h3>

                    <BlazorClient.Components.MainPage.SoonAtCinemasComponentItem Href="https://metarankings.ru/krejven-oxotnik-2023/" ImageSrc="https://metarankings.ru/images/uploads/2023/06/krejven-oxotnik-box-art-cover-50x70.jpg" Name="Крэйвен-охотник" OriginalName="Kraven the Hunter" ReleaseDate="new DateTime(2024,12,11)" />

                    <BlazorClient.Components.MainPage.SoonAtCinemasComponentItem Href="https://metarankings.ru/bell-lejk-ozero-demonov-2024/" ImageSrc="https://metarankings.ru/images/uploads/2024/12/bell-lejk-ozero-demonov-cover-art-50x70.jpg" Name="Белл-Лейк. Озеро демонов" OriginalName="The Bell Keeper" ReleaseDate="new DateTime(2024,12,12)" />

                    <BlazorClient.Components.MainPage.SoonAtCinemasComponentItem Href="https://metarankings.ru/moj-sosed-monstr-2024/" ImageSrc="https://metarankings.ru/images/uploads/2024/12/moj-sosed-monstr-cover-art-50x70.jpg" Name="Мой сосед — монстр" OriginalName="Your Monster" ReleaseDate="new DateTime(2024,12,12)" />

                    <BlazorClient.Components.MainPage.SoonAtCinemasComponentItem Href="https://metarankings.ru/pyatnica-13-e-novaya-glava/" ImageSrc="https://metarankings.ru/images/uploads/2024/12/pyatnica-13-e-novaya-glava-coverart-50x70.jpg" Name="Пятница 13-е. Новая глава" OriginalName="The Hangman" ReleaseDate="new DateTime(2024,12,12)" />

                    <BlazorClient.Components.MainPage.SoonAtCinemasComponentItem Href="https://metarankings.ru/tri-kota-zimnie-kanikuly-2024/" ImageSrc="https://metarankings.ru/images/uploads/2024/11/tri-kota-zimnie-kanikuly-cover-art-50x70.jpg" Name="Три кота. Зимние каникулы" OriginalName="Три кота. Зимние каникулы" ReleaseDate="new DateTime(2024,12,12)" />
                    <a href="https://metarankings.ru/most-waiting-films/" class="allreviews">Самые ожидаемые фильмы</a>
                </div>
                <div class="index-games">
                    <h3><a href="https://metarankings.ru/release-date/">Дата выхода игр</a></h3>

                    <BlazorClient.Components.MainPage.GameReleaseDate Href="https://metarankings.ru/alien-rogue-incursion/" ImageSrc="https://metarankings.ru/images/uploads/2024/12/alien-rogue-incursion-boxart-cover-50x70.jpg" Name="Alien: Rogue Incursion" ReleaseDate="new DateTime(2024,12,19)" />

                    <BlazorClient.Components.MainPage.GameReleaseDate Href="https://metarankings.ru/alien-rogue-incursion/" ImageSrc="https://metarankings.ru/images/uploads/2024/12/alien-rogue-incursion-boxart-cover-50x70.jpg" Name="Alien: Rogue Incursion" ReleaseDate="new DateTime(2024,12,19)" />

                    <BlazorClient.Components.MainPage.GameReleaseDate Href="https://metarankings.ru/alien-rogue-incursion/" ImageSrc="https://metarankings.ru/images/uploads/2024/12/alien-rogue-incursion-boxart-cover-50x70.jpg" Name="Alien: Rogue Incursion" ReleaseDate="new DateTime(2024,12,19)" />

                    <BlazorClient.Components.MainPage.GameReleaseDate Href="https://metarankings.ru/alien-rogue-incursion/" ImageSrc="https://metarankings.ru/images/uploads/2024/12/alien-rogue-incursion-boxart-cover-50x70.jpg" Name="Alien: Rogue Incursion" ReleaseDate="new DateTime(2024,12,19)" />

                    <BlazorClient.Components.MainPage.GameReleaseDate Href="https://metarankings.ru/alien-rogue-incursion/" ImageSrc="https://metarankings.ru/images/uploads/2024/12/alien-rogue-incursion-boxart-cover-50x70.jpg" Name="Alien: Rogue Incursion" ReleaseDate="new DateTime(2024,12,19)" />
                    <a href="https://metarankings.ru/most-waiting-games/" class="allreviews">Самые ожидаемые игры</a>
                </div>
            </div>
        </div>
        <div class="sidebar rcol">
            <div class="widget last-reviews">
                <h3>Последние отзывы</h3>
                <div class="widget-body">
                    <BlazorClient.Components.MainPage.LatestReviewsComponent />
                    <BlazorClient.Components.MainPage.LatestReviewsComponent />
                </div>
            </div>
        </div>
    </div>
    <BlazorClient.Components.Footer />
</div>
<div class="wbody" onclick="show('none')"></div>
<div class="window">
</div>
<BlazorClient.Components.LoginPopup />
<div id="toTop" class="toTop">↑</div>

@code {
    public ScoredImagedLinkedTitledItem[] ScoredImagedLinkedTitledMovies { get; set; } = new ScoredImagedLinkedTitledItem[]
    {
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            }
    };

    public ScoredImagedLinkedTitledItem[] ScoredImagedLinkedTitledGames { get; set; } = new ScoredImagedLinkedTitledItem[]
        {
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            },
            new ScoredImagedLinkedTitledItem
            {
                ImageSource="https://metarankings.ru/images/uploads/2024/11/eretik-2024-cover-art-187x281.jpg",
                Score=7.3f,
                Title="Еретик",
                Url="https://metarankings.ru/eretik-2024/"
            }
    };

    public NewMovie[] NewMovies { get; set; } = new NewMovie[]
    {
        new NewMovie
        {
            Description="Это история о крошечных существах, которые обитают рядом с людьми, незаметно одалживая у них вещи. Их существование скрыто от человеческих глаз, но юная...",
            ImageHref="https://metarankings.ru/images/uploads/2024/12/arietti-iz-strany-liliputov-cover-art-50x70.jpg",
            Link="https://metarankings.ru/arietti-iz-strany-liliputov-2024/",
            ReleaseDate=new DateTime(2024,12,5),
            Score=7.8f,
            Title="Фильм Ариэтти из страны лилипутов"
        },
        new NewMovie
        {
            Description="Это история о крошечных существах, которые обитают рядом с людьми, незаметно одалживая у них вещи. Их существование скрыто от человеческих глаз, но юная...",
            ImageHref="https://metarankings.ru/images/uploads/2024/12/arietti-iz-strany-liliputov-cover-art-50x70.jpg",
            Link="https://metarankings.ru/arietti-iz-strany-liliputov-2024/",
            ReleaseDate=new DateTime(2024,12,5),
            Score=7.8f,
            Title="Фильм Ариэтти из страны лилипутов"
        },
        new NewMovie
        {
            Description="Это история о крошечных существах, которые обитают рядом с людьми, незаметно одалживая у них вещи. Их существование скрыто от человеческих глаз, но юная...",
            ImageHref="https://metarankings.ru/images/uploads/2024/12/arietti-iz-strany-liliputov-cover-art-50x70.jpg",
            Link="https://metarankings.ru/arietti-iz-strany-liliputov-2024/",
            ReleaseDate=new DateTime(2024,12,5),
            Score=7.8f,
            Title="Фильм Ариэтти из страны лилипутов"
        },
        new NewMovie
        {
            Description="Это история о крошечных существах, которые обитают рядом с людьми, незаметно одалживая у них вещи. Их существование скрыто от человеческих глаз, но юная...",
            ImageHref="https://metarankings.ru/images/uploads/2024/12/arietti-iz-strany-liliputov-cover-art-50x70.jpg",
            Link="https://metarankings.ru/arietti-iz-strany-liliputov-2024/",
            ReleaseDate=new DateTime(2024,12,5),
            Score=7.8f,
            Title="Фильм Ариэтти из страны лилипутов"
        },
        new NewMovie
        {
            Description="Это история о крошечных существах, которые обитают рядом с людьми, незаметно одалживая у них вещи. Их существование скрыто от человеческих глаз, но юная...",
            ImageHref="https://metarankings.ru/images/uploads/2024/12/arietti-iz-strany-liliputov-cover-art-50x70.jpg",
            Link="https://metarankings.ru/arietti-iz-strany-liliputov-2024/",
            ReleaseDate=new DateTime(2024,12,5),
            Score=7.8f,
            Title="Фильм Ариэтти из страны лилипутов"
        },
        new NewMovie
        {
            Description="Это история о крошечных существах, которые обитают рядом с людьми, незаметно одалживая у них вещи. Их существование скрыто от человеческих глаз, но юная...",
            ImageHref="https://metarankings.ru/images/uploads/2024/12/arietti-iz-strany-liliputov-cover-art-50x70.jpg",
            Link="https://metarankings.ru/arietti-iz-strany-liliputov-2024/",
            ReleaseDate=new DateTime(2024,12,5),
            Score=7.8f,
            Title="Фильм Ариэтти из страны лилипутов"
        }
    };

    public NewGame[] NewGames { get; set; } = new NewGame[]
    {
        new NewGame
        {
            Href="https://metarankings.ru/legacy-of-kain-soul-reaver-12-remastered/",
            Description="Это захватывающая история мести, в роли возродившегося после векового предательства Каина, который жаждет кровавого возмездия. В вашем распоряжении уникальный арсенал разнообразных способностей, среди...",
            ImageAlt="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ImageSrc="https://metarankings.ru/images/uploads/2024/12/legacy-of-kain-soul-reaver-12-remastered-boxart-cover-50x70.jpg",
            Name="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ReleaseDate=new DateTime(2024,12,10)
        },
        new NewGame
        {
            Href="https://metarankings.ru/legacy-of-kain-soul-reaver-12-remastered/",
            Description="Это захватывающая история мести, в роли возродившегося после векового предательства Каина, который жаждет кровавого возмездия. В вашем распоряжении уникальный арсенал разнообразных способностей, среди...",
            ImageAlt="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ImageSrc="https://metarankings.ru/images/uploads/2024/12/legacy-of-kain-soul-reaver-12-remastered-boxart-cover-50x70.jpg",
            Name="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ReleaseDate=new DateTime(2024,12,10)
        },
        new NewGame
        {
            Href="https://metarankings.ru/legacy-of-kain-soul-reaver-12-remastered/",
            Description="Это захватывающая история мести, в роли возродившегося после векового предательства Каина, который жаждет кровавого возмездия. В вашем распоряжении уникальный арсенал разнообразных способностей, среди...",
            ImageAlt="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ImageSrc="https://metarankings.ru/images/uploads/2024/12/legacy-of-kain-soul-reaver-12-remastered-boxart-cover-50x70.jpg",
            Name="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ReleaseDate=new DateTime(2024,12,10)
        },
        new NewGame
        {
            Href="https://metarankings.ru/legacy-of-kain-soul-reaver-12-remastered/",
            Description="Это захватывающая история мести, в роли возродившегося после векового предательства Каина, который жаждет кровавого возмездия. В вашем распоряжении уникальный арсенал разнообразных способностей, среди...",
            ImageAlt="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ImageSrc="https://metarankings.ru/images/uploads/2024/12/legacy-of-kain-soul-reaver-12-remastered-boxart-cover-50x70.jpg",
            Name="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ReleaseDate=new DateTime(2024,12,10)
        },
        new NewGame
        {
            Href="https://metarankings.ru/legacy-of-kain-soul-reaver-12-remastered/",
            Description="Это захватывающая история мести, в роли возродившегося после векового предательства Каина, который жаждет кровавого возмездия. В вашем распоряжении уникальный арсенал разнообразных способностей, среди...",
            ImageAlt="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ImageSrc="https://metarankings.ru/images/uploads/2024/12/legacy-of-kain-soul-reaver-12-remastered-boxart-cover-50x70.jpg",
            Name="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ReleaseDate=new DateTime(2024,12,10)
        },
        new NewGame
        {
            Href="https://metarankings.ru/legacy-of-kain-soul-reaver-12-remastered/",
            Description="Это захватывающая история мести, в роли возродившегося после векового предательства Каина, который жаждет кровавого возмездия. В вашем распоряжении уникальный арсенал разнообразных способностей, среди...",
            ImageAlt="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ImageSrc="https://metarankings.ru/images/uploads/2024/12/legacy-of-kain-soul-reaver-12-remastered-boxart-cover-50x70.jpg",
            Name="Legacy of Kain Soul Reaver 1&#038;2 Remastered",
            ReleaseDate=new DateTime(2024,12,10)
        }
    };

    public News[] MoviesNews { get; set; } = new News[]
    {
        new News
        {
            Href="https://metarankings.ru/ridli-skott-predstavil-trejler-gladiator-2-s-pedro-paskal-i-denzelem-vashingtonom/",
            Title="Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном",
            ImageSrc="https://metarankings.ru/images/uploads/2024/07/gladiator-2-445x250.jpg"
        },
        new News
        {
            Href="https://metarankings.ru/ridli-skott-predstavil-trejler-gladiator-2-s-pedro-paskal-i-denzelem-vashingtonom/",
            Title="Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном",
            ImageSrc="https://metarankings.ru/images/uploads/2024/07/gladiator-2-445x250.jpg"
        },
        new News
        {
            Href="https://metarankings.ru/ridli-skott-predstavil-trejler-gladiator-2-s-pedro-paskal-i-denzelem-vashingtonom/",
            Title="Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном",
            ImageSrc="https://metarankings.ru/images/uploads/2024/07/gladiator-2-445x250.jpg"
        },
        new News
        {
            Href="https://metarankings.ru/ridli-skott-predstavil-trejler-gladiator-2-s-pedro-paskal-i-denzelem-vashingtonom/",
            Title="Ридли Скотт представил трейлер «Гладиатор 2» с  Педро Паскаль и Дензелем Вашингтоном",
            ImageSrc="https://metarankings.ru/images/uploads/2024/07/gladiator-2-445x250.jpg"
        }
    };

    public News[] GamesNews { get; set; } = new News[]
    {
        new News
        {
            Href="https://metarankings.ru/sony-obyavila-sistemnye-trebovaniya-god-of-war-ragnarok-dlya-pc/",
            Title="Sony объявила системные требования God of War Ragnarök для PC",
            ImageSrc="https://metarankings.ru/images/uploads/2024/08/god-of-war-ragnarok-445x250.jpg"
        },
        new News
        {
            Href="https://metarankings.ru/sony-obyavila-sistemnye-trebovaniya-god-of-war-ragnarok-dlya-pc/",
            Title="Sony объявила системные требования God of War Ragnarök для PC",
            ImageSrc="https://metarankings.ru/images/uploads/2024/08/god-of-war-ragnarok-445x250.jpg"
        },
        new News
        {
            Href="https://metarankings.ru/sony-obyavila-sistemnye-trebovaniya-god-of-war-ragnarok-dlya-pc/",
            Title="Sony объявила системные требования God of War Ragnarök для PC",
            ImageSrc="https://metarankings.ru/images/uploads/2024/08/god-of-war-ragnarok-445x250.jpg"
        },
        new News
        {
            Href="https://metarankings.ru/sony-obyavila-sistemnye-trebovaniya-god-of-war-ragnarok-dlya-pc/",
            Title="Sony объявила системные требования God of War Ragnarök для PC",
            ImageSrc="https://metarankings.ru/images/uploads/2024/08/god-of-war-ragnarok-445x250.jpg"
        }
    };

    public CollectionItem[] CollectionItems { get; set; } = new CollectionItem[]
    {
        new CollectionItem
        {
            Href="https://metarankings.ru/samye-slozhnye-igry/",
            Title="Самые сложные игры",
            ImageSrc="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg"
        },
        new CollectionItem
        {
            Href="https://metarankings.ru/samye-slozhnye-igry/",
            Title="Самые сложные игры",
            ImageSrc="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg"
        },
        new CollectionItem
        {
            Href="https://metarankings.ru/samye-slozhnye-igry/",
            Title="Самые сложные игры",
            ImageSrc="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg"
        },
        new CollectionItem
        {
            Href="https://metarankings.ru/samye-slozhnye-igry/",
            Title="Самые сложные игры",
            ImageSrc="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg"
        },
        new CollectionItem
        {
            Href="https://metarankings.ru/samye-slozhnye-igry/",
            Title="Самые сложные игры",
            ImageSrc="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg"
        },
        new CollectionItem
        {
            Href="https://metarankings.ru/samye-slozhnye-igry/",
            Title="Самые сложные игры",
            ImageSrc="https://metarankings.ru/images/uploads/2023/06/slozhnye-igry-445x250.jpg"
        }
    };

    public SpecialItem[] SpecialItems { get; set; } = new SpecialItem[]
    {
        new SpecialItem
        {
            Href="https://metarankings.ru/vyjdet-li-god-of-war-ragnarok-na-pk/",
            ImageAlt="Выйдет ли God Of War Ragnarok на ПК?",
            ImageSrc="https://metarankings.ru/images/uploads/2022/08/god-of-war-ragnarok1-445x250.jpg",
            Title="Выйдет ли God Of War Ragnarok на ПК?"
        },
        new SpecialItem
        {
            Href="https://metarankings.ru/vyjdet-li-god-of-war-ragnarok-na-pk/",
            ImageAlt="Выйдет ли God Of War Ragnarok на ПК?",
            ImageSrc="https://metarankings.ru/images/uploads/2022/08/god-of-war-ragnarok1-445x250.jpg",
            Title="Выйдет ли God Of War Ragnarok на ПК?"
        },
        new SpecialItem
        {
            Href="https://metarankings.ru/vyjdet-li-god-of-war-ragnarok-na-pk/",
            ImageAlt="Выйдет ли God Of War Ragnarok на ПК?",
            ImageSrc="https://metarankings.ru/images/uploads/2022/08/god-of-war-ragnarok1-445x250.jpg",
            Title="Выйдет ли God Of War Ragnarok на ПК?"
        },
        new SpecialItem
        {
            Href="https://metarankings.ru/vyjdet-li-god-of-war-ragnarok-na-pk/",
            ImageAlt="Выйдет ли God Of War Ragnarok на ПК?",
            ImageSrc="https://metarankings.ru/images/uploads/2022/08/god-of-war-ragnarok1-445x250.jpg",
            Title="Выйдет ли God Of War Ragnarok на ПК?"
        }
    };
}