@page "/"
@using BlazorClient.Components.PagesComponents.GamesList
@using BlazorClient.Components.PagesComponents.Home
@using BlazorClient.Pages.Games.Games
@using BlazorClient.Pages.Movies.Movies
@using Domain.Games
@using Domain.Movies
@using Domain.Reviews

<BlazorClient.Components.PagesComponents.Common.Headerer />
<BlazorClient.Components.PagesComponents.Common.GameMenu Year="@DateTime.Today.Year" />

<AuthorizeView Policy="Admin">
    <Authorized>
        <a href="/admin">Страница администратора</a>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <Authorized>
        <a href="/account">Управление аккаунтом</a>
    </Authorized>
</AuthorizeView>

<div class="pager">Лучшие в прошлом месяце <span class="">Фильмы</span><span class="cycle-pager-active">Игры</span></div>

@if (Games is null || GamesReviews is null || Movies is null || MoviesReviews is null)
{
    <p>Loading...</p>
}
else
{
    <div class="slideshow">
        <div id="slideshow" class="cycle-slideshow" data-cycle-fx="scrollHorz" data-cycle-timeout="7000" data-cycle-slides="&gt; div" data-cycle-pager=".pager" style="overflow: visible;">
            <div class="slide clear cycle-slide cycle-sentinel" data-cycle-pager-template="&lt;span&gt;Фильмы&lt;/span&gt;" style="top: 0px; left: 0px; opacity: 1; z-index: 100; position: static; visibility: visible; display: block;">
                <div class="post" style="visibility: visible;">
                    @foreach (Movie movie in Movies)
                    {
                        <a href="/movies/details/@movie.Id" title="@movie.Name" style="visibility: visible;">
                            <div class="featured-image" style="visibility: visible;">
                                <img class="post-image" src="@($"{HttpClient.BaseAddress}api/movies/images/{movie.PremierDate.Value.Year}/{movie.PremierDate.Value.Month}/{movie.ImageSource}")" alt="@movie.Name" style="visibility: visible;">
                                @if (movie.MovieReviews is not null && movie.MovieReviews.Any())
                                {
                                    <div class="small-score mark-@Math.Round(movie.MovieReviews.Average(b => b.Score))" style="visibility: visible;">@Math.Round(movie.MovieReviews.Average(b => b.Score), 1)</div>
                                }
                                else
                                {
                                    <div class="small-score mark-0" style="visibility: visible;">0</div>
                                }
                                <span style="visibility: visible;">@movie.Name</span>
                            </div>
                        </a>
                    }
                </div>
            </div>


            <div class="slide clear cycle-slide" data-cycle-pager-template="&lt;span&gt;Фильмы&lt;/span&gt;" style="position: absolute; top: 0px; opacity: 1; display: block; z-index: 97; left: 0px; visibility: visible;">
                <div class="post">
                    @foreach (Movie movie in Movies)
                    {
                        <a href="/movies/details/@movie.Id" title="@movie.Name" style="visibility: visible;">
                            <div class="featured-image" style="visibility: visible;">
                                <img class="post-image" src="@($"{HttpClient.BaseAddress}api/movies/images/{movie.PremierDate.Value.Year}/{movie.PremierDate.Value.Month}/{movie.ImageSource}")" alt="@movie.Name" style="visibility: visible;">
                                @if (movie.MovieReviews is not null && movie.MovieReviews.Any())
                                {
                                    <div class="small-score mark-@Math.Round(movie.MovieReviews.Average(b => b.Score))" style="visibility: visible;">@Math.Round(movie.MovieReviews.Average(b => b.Score), 1)</div>
                                }
                                else
                                {
                                    <div class="small-score mark-0" style="visibility: visible;">0</div>
                                }
                                <span style="visibility: visible;">@movie.Name</span>
                            </div>
                        </a>
                    }
                </div>
            </div>
            <div class="slide clear cycle-slide cycle-slide-active" data-cycle-pager-template="&lt;span&gt;Игры&lt;/span&gt;" style="position: absolute; z-index: 99; top: 0px; opacity: 1; visibility: visible; display: block; left: 0px;">
                <div class="post">
                    @foreach (Game game in Games)
                    {
                        <a href="/games/details/@game.Id" title="@game.Name" style="visibility: visible;">
                            <div class="featured-image" style="visibility: visible;">
                                <img class="post-image" src="@($"{HttpClient.BaseAddress}api/games/images/{game.ReleaseDate.Value.Year}/{game.ReleaseDate.Value.Month}/{game.Image}")" alt="@game.Name" style="visibility: visible;">
                                @if (game.GamesPlayersReviews is not null && game.GamesPlayersReviews.Any())
                                {
                                    <div class="small-score mark-@Math.Round(game.GamesPlayersReviews.Average(b => b.Score))" style="visibility: visible;">@Math.Round(game.GamesPlayersReviews.Average(b => b.Score), 1)</div>
                                }
                                else
                                {
                                    <div class="small-score mark-0" style="visibility: visible;">0</div>
                                }
                                <span style="visibility: visible;">@game.Name</span>
                            </div>
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="container" class="clear">
        <div class="sidebar">
        </div>
        <div id="content" class="lcol">
            <div id="loop" class="list clear">
                <div class="index-movies">
                    <h3><a href="https://metarankings.ru/new-movies/">Новые фильмы</a></h3>
                    <MoviesListComponent Movies="@Movies" />
                    <MoviesDropdownComponent />
                    <a class="allreviews" href="https://metarankings.ru/meta/movies/">Обзоры на фильмы</a><br>
                </div>

                <div class="index-games">
                    <h3><a href="https://metarankings.ru/new-games/">Новые игры</a></h3>
                    <GamesListComponent Games="@Games" />
                    <GamesDropdownComponent />
                    <a class="allreviews" href="https://metarankings.ru/meta/games/">Обзоры на игры</a>
                </div>
                <div class="ads-horizont hor-1">
                    <!-- Yandex.RTB R-A-201169-5 -->
                    <div id="yandex_rtb_R-A-201169-5"></div>
                    <script>
                        window.yaContextCb.push(()=>{
                          Ya.Context.AdvManager.render({
                            renderTo: "yandex_rtb_R-A-201169-5",
                            blockId: "R-A-201169-5"
                          })
                        })</script>
                </div>
                <CollectionsComponent />
                <SoonAtCinemasComponent />
                <GamesReleaseDateComponent GamesReleaseDateItemComponents="GamesReleaseDateItemComponents" />
            </div>
        </div>
        <div class="sidebar rcol" style="height: 2500px;">
            <div class="widget last-reviews">
                <h3>Последние отзывы</h3>
                <div class="widget-body">
                    <ul>
                        @foreach (MovieReview review in MoviesReviews)
                        {
                            <li class="recent-reviews">
                                <div class="ureview-text">
                                    <span class="title-reviews"><a href="/movies/Details/@review.MovieId">@review.Movie.Name</a></span>
                                </div>
                            </li>
                        }
                    </ul>
                    <ul>
                        @foreach (GameReview review in GamesReviews)
                        {
                            <li class="recent-reviews">
                                <div class="ureview-text">
                                    <span class="title-reviews"><a href="/games/Details/@review.GameId">@review.Game.Name</a></span>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}