@using Domain

<div class="post clear">
    <a href="/games/details/@Game.Id" title="Игра «@Game.Name»" class="thumb"><img class="post-image" src="@($"{HttpClient.BaseAddress}api/games/images/{Game.ReleaseDate.Value.Year}/{Game.ReleaseDate.Value.Month}/{Game.Image}")" alt="@Game.Name"></a>
    <a class="name" href="/games/details/@Game.Id">@Game.Name</a>
    <div class="post-meta"><p>@string.Join(", ", Game.Platforms.Select(b => b.Name))</p></div>
    <div class="post-meta">

        <a href="/games/details/@Game.Id/#reviews" title="@Game.Name - обзоры и рецензии">Обзоры критиков (0)</a> <a href="/games/details/@Game.Id/#comments" title="@Game.Name - отзывы">Отзывы игроков (0)</a>
    </div>
    <div class="post-content">@Game.Description</div>
    <div class="trailer" data-video="/games/details/@Game.Id/#content-trailer"></div>
</div>