@using System.Globalization
<div class="item">
    <NavLink class="my-nav-link" href="/games/details/alex">Игра @Name</NavLink>
    <div class="small-score mark-@Math.Round(Score)"><span data-title="Рейтинг игры" class="tooltip">@Score</span></div>
    <span class="item-name"><NavLink class="my-nav-link" href="/games/details/alex">@Name</NavLink></span>
    <span class="item-meta"><NavLink class="my-nav-link" href="/games/details/alex">Xbox Series X</NavLink></span>
    <span class="item-meta"><NavLink rel="nofollow" href="/games/details/alex">Отзывы (0)</NavLink></span>
    <span class="item-meta">@ReleaseDate.ToString("dd MMMM yyyy", new CultureInfo("ru-RU"))</span>
    <span class="item-description">@Description</span>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public float Score { get; set; }

    [Parameter]
    public string ImageAlt { get; set; }

    [Parameter]
    public DateTime ReleaseDate { get; set; }

    [Parameter]
    public string Description { get; set; }
}
