@using System.Globalization
<div class="item">
    <NavLink class="my-nav-link" href="/games/details/alex">Фильм @Title</NavLink>
    <div class="small-score mark-8"><span data-title="Рейтинг фильма" class="tooltip">@Score</span></div>
    <span class="item-name"><NavLink class="my-nav-link" href="/games/details/alex">@Title</NavLink></span>
    <span class="item-meta"><NavLink class="my-nav-link" href="/games/details/alex">Мультфильмы</NavLink></span>
    <span class="item-meta"><NavLink rel="nofollow" href="/games/details/alex">Отзывы (0)</NavLink></span>
    <span class="item-meta">@ReleaseDate.ToString("dd MMMM yyyy", new CultureInfo("ru-RU"))</span>
    <span class="item-description">@Description</span>
</div>

@code {
    [Parameter]
    public string Link { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImageHref { get; set; }

    [Parameter]
    public float Score { get; set; }

    [Parameter]
    public string GenreHref { get; set; }

    [Parameter]
    public string GenreTitle { get; set; }

    [Parameter]
    public DateTime ReleaseDate { get; set; }

    [Parameter]
    public string Description { get; set; }
}
