<div class="news-item">
    <NavLink class="my-nav-link" href="@Href" title="@Title"><img src="@ImageSrc" alt="@Title"></NavLink>
    <span class="news-title"><NavLink class="my-nav-link" href="@Href">@Title</NavLink></span>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }
}
