@using System.Globalization
<div class="item">
    <a href="@Href" title="Фильм @Name"><img class="post-image" src="@ImageSrc" alt="@Name"></a>
    <span class="item-name"><a href="@Href">@Name</a></span>
    <span class="item-meta"><a href="https://metarankings.ru/meta/movies/boeviki/">Боевики</a> / <a href="https://metarankings.ru/meta/movies/fantasy/">Фантастика</a> / <a href="https://metarankings.ru/meta/movies/fantasy-movies/">Фэнтези</a></span>
    <span class="item-meta">@OriginalName</span>
    <span class="item-meta">@ReleaseDate.ToString("dd MM yyyy", new CultureInfo("ru-RU"))</span>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string OriginalName { get; set; }

    [Parameter]
    public DateTime ReleaseDate { get; set; }
}
