<div class="news-item">
    <a href="@Href" title="@Title"><img class="news-thumb" src="@ImageSrc" alt="@Title"></a>
    <span class="news-title"><a href="@ImageSrc">@Title</a></span>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string ImageAlt { get; set; }
}
