<div class="news-item">
    <a class="link-dark my-nav-link"href="@Href" title="@Title"><img src="@ImageSrc" alt="@Title"></a>
    <span class="news-title"><a class="link-dark my-nav-link"href="@ImageSrc">@Title</a></span>
</div>

@code {
    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string ImageSrc { get; set; }

    [Parameter]
    public string ImageAlt { get; set; }
}
