@page "/auth/register"

<div class="card">
    <div class="card-body">
        <h5 class="card=title">Please enter your details</h5>
        <EditForm Model="RegisterModel" OnValidSubmit="RegisterAsync">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <InputText Id="phone" class="form-control" @bind-Value="RegisterModel.PhoneNumber" />
                <ValidationMessage For="@(() => RegisterModel.PhoneNumber)" />
            </div>

            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <InputText Id="phone" class="form-control" @bind-Value="RegisterModel.PhoneNumber" />
                <ValidationMessage For="@(() => RegisterModel.PhoneNumber)" />
            </div>
            
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <InputText Id="phone" class="form-control" @bind-Value="RegisterModel.PhoneNumber" />
                <ValidationMessage For="@(() => RegisterModel.PhoneNumber)" />
            </div>
            
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <InputText Id="phone" class="form-control" @bind-Value="RegisterModel.PhoneNumber" />
                <ValidationMessage For="@(() => RegisterModel.PhoneNumber)" />
            </div>
            
            <div class="form-group">
                <label for="phoneNumber">Phone number</label>
                <InputText Id="phone" class="form-control" @bind-Value="RegisterModel.PhoneNumber" />
                <ValidationMessage For="@(() => RegisterModel.PhoneNumber)" />
            </div>
        </EditForm>
    </div>
</div>