@using Domain.Games
@using Domain.Movies

<div class="item">
    <a href="@Href" title="@Title">
        <img class="post-image" src="@ImageSource" alt="@ImageAlt">
    </a>
    <div class="small-score mark-0"><span data-title="Рейтинг фильма" class="tooltip">0</span></div>
    <span class="item-name"><a href="@Href">@Title</a></span>
    <span class="item-meta">
        @for (int i = 0; i < ListMovieGenreModels.Count() - 1; i++)
        {
            <a href="@(ListMovieGenreModels.ElementAt(i).Url)">@(ListMovieGenreModels.ElementAt(i).Title)</a>

            <text> / </text>
        }
        <a href="@(ListMovieGenreModels.ElementAt(ListMovieGenreModels.Count() - 1).Url)">@(ListMovieGenreModels.ElementAt(ListMovieGenreModels.Count() - 1).Title)</a>
    </span>
    <span class="item-meta"><a rel="nofollow" href="@ReviewsHref">Рецензии (0)</a> <a rel="nofollow" href="@Href/#comments">Отзывы (0)</a></span>
    <span class="item-meta">@ReleaseDate.ToString("dd MMMM yyyy")</span>
    <span class="item-description">@Description</span>
</div>