<div class="filter-nav">
    <div class="filter-name">Год</div>
    <div class="filter-menu">
        <a href="/games/best-games?Year=@Year">@Year</a>
        <a href="/games/best-games?Year=@(Year - 1)">@(Year - 1)</a>
        <a href="/games/best-games?Year=@(Year - 2)">@(Year - 2)</a>
        <a href="/games/best-games?Year=@(Year - 3)">@(Year - 3)</a>
        <a href="/games/best-games?Year=@(Year - 4)">@(Year - 4)</a>
        <a href="/games/best-games?Year=@(Year - 5)">@(Year - 5)</a>
        <a href="/games/best-games?Year=@(Year - 6)">@(Year - 6)</a>
        <a href="/games/best-games?Year=@(Year - 7)">@(Year - 7)</a>
    </div>
</div>