@page "/games/Details/{Id:long}"
@using BlazorClient.Components.PagesComponents.GameDetails
@using BlazorClient.Components.PagesComponents.Common
@using BlazorClient.Pages.Games.Games.Reviews
@using Domain.Reviews

<Headerer />
<GameMenu />

@if (Game is null)
{
    <LoadingIndicator />
}
else
{
    <div class="post single clear game">
        <GameHeader Name="@Game.Name"
                    Description="@Game.Description"
                    Id="@Id"
                    ReleaseYear="@Game.ReleaseDate!.Value.Year" />

        <div class="post-content">
            <Thumbnail Name="@Game.Name"
                       ReleaseYear="@Game.ReleaseDate.Value.Year"
                       ReleaseMonth="@Game.ReleaseDate.Value.Month"
                       ImageSource="@Game.Image"
                       Prefix="Games" />


            <RatingComponent Score="@(Game.GamesPlayersReviews.Any() ? Game.GamesPlayersReviews.Average(g => g.Score) : 0)"
                             ScoresCount="@Game.GamesPlayersReviews.Count" />

            <GameMetadata Developers="@Game.Developers"
                          Publisher="@Game.Publisher"
                          Platforms="@Game.Platforms"
                          Genres="@Game.Genres"
                          Localization="@Game.Localization"
                          ReleaseDate="@Game.ReleaseDate.Value" />

            <GameDescription Description="@Game.Description" />

            <SystemRequirements />

            <GameTags Links="@Game.Links" />


            <AdHorizontal AdId="R-A-201169-7" />

            <GameMedia Trailer="@Game.Trailer"
                       Screenshots="@Game.Screenshots"
                       Name="@Game.Name"
                       Image="@Game.Image"
                       ReleaseDate="@Game.ReleaseDate"
                       GameId="@Game.Id" />

            <div class="user-reviews comments">
                <div id="comments">
                    <h1 id="users">Отзывы</h1>
                    <span class="countnum">@Game.GamesPlayersReviews.Count</span>
                    <div class="comment_list">
                        <ol>
                            @foreach (GameReview gameReview in Game.GamesPlayersReviews)
                            {
                                <GameReviewComponent Id="@gameReview.Id"
                                                     Score="@gameReview.Score"
                                                     UserName="@gameReview.ApplicationUser.UserName"
                                                     PublishDate="@gameReview.Date"
                                                     TextContent="@gameReview.TextContent"
                                                     AuthorId="@gameReview.UserId" />
                            }
                        </ol>
                    </div>
                    <AuthorizeView>
                        <Authorized>
                            @if (IsAbleToWriteComments)
                            {
                                <YourScoreComponent YourScore="10" AverageGameGamersScore="10" Text="@string.Empty" GameId="@Game.Id" ScoresCount="0" />
                            }
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
}