@page "/games/Details/{Id:long}"
@using BlazorClient.Components.PagesComponents.GameDetails
@using BlazorClient.Components.PagesComponents.Common
@using Domain.Reviews

<Headerer />
<GameMenu />

@if (Game == null)
{
    <LoadingIndicator />
}
else
{
    <div class="post single clear game">
        <GameHeader Name="@Game.Name"
                    Description="@Game.Description"
                    Id="@Id"
                    ReleaseYear="@Game.ReleaseDate!.Value.Year" />

        <div class="post-content">
            <GameThumbnail Name="@Game.Name"
                           ReleaseYear="@Game.ReleaseDate.Value.Year"
                           ReleaseMonth="@Game.ReleaseDate.Value.Month"
                           ImageSource="@Game.Image" />


            <RatingComponent Score="@(Game.GamesPlayersReviews.Any() ? Game.GamesPlayersReviews.Average(g => g.Score) : 0)"
                             ScoresCount="@Game.GamesPlayersReviews.Count" />

            <GameMetadata Developers="@Game.Developers"
                          Publisher="@Game.Publisher"
                          Platforms="@Game.Platforms"
                          Genres="@Game.Genres"
                          Localization="@Game.Localization"
                          ReleaseDate="@Game.ReleaseDate.Value" />

            <GameDescription Description="@Game.Description" />

            <SystemRequirements />

            <GameTags Links="@(new List<string> {
                                                                                                                                                                                                                                                                                                                                                    "/best-ps4-games/",
                                                                                                                                                                                                                                                                                                                                                    "/top-igry-priklyucheniya/"
                                                                                                                                                                                                                                                                                                                                                })" />

        <AdHorizontal AdId="R-A-201169-7" />

            <GameMedia Trailer="@Game.Trailer"
                       Screenshots="@Game.Screenshots"
                       Name="@Game.Name"
                       Image="@Game.Image"
                       ReleaseDate="@Game.ReleaseDate"
                       GameId="@Game.Id" />

            <div class="user-reviews comments">
                <div id="comments">
                    <h1 id="users">Отзывы</h1>
                    <span class="countnum">@Game.GamesPlayersReviews.Count</span>
                    <div class="comment_list">
                        <ol>
                        @foreach (GameReview gameReview in Game.GamesPlayersReviews)
                            {
                                <li class="mark-@Math.Round(gameReview.Score)">
                                    <div>
                                        <div class="ureview-text">
                                            <div class="comment-meta">
                                                <div class="small-score mark-@Math.Round(gameReview.Score)">
                                                    <span data-title="Оценка отзыва из 10 баллов" class="tooltip">10</span>
                                                </div>
                                                <p class="user-reviews-author comment-author"><span>@gameReview.ApplicationUser.UserName</span></p>
                                                <p class="comment-date">@gameReview.Date.ToString("dd.MM.yyyy")</p>
                                                <div class="rating-com">
                                                    <span class="ldc-ul_like" onclick="alter_ul_post_values(this,'53','c_like')">+ <span>60</span></span><span class="ldc-ul_dislike" onclick="alter_ul_post_values(this,'53','c_dislike')">- <span>6</span></span>
                                                </div>
                                            </div>
                                            <div class="review-text">
                                                <p>@gameReview.TextContent</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ol>
                    </div>
                    <AuthorizeView>
                        <Authorized>
                            <form method="post" @onsubmit="@AddReviewAsync">
                                <InputNumber @bind-Value="@YourScore" />
                                <InputTextArea @bind-Value="@Text" />
                                <input type="submit" value="Add" />
                            </form>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
        </div>
    </div>
}